<div class="top-div">
    <div class="column2">
      <div class="header-content">
        <h3>Álbumes de {{artista}}</h3>
      </div>
    </div>
  </div>
  
  <div class="bottom-div">
    <div *ngIf="albumes!= null && albumes.length > 0">
      <div class="albumes">
        <div *ngFor="let album of albumes" class="albumcard" [routerLink]="['/home/album', album.id]" >
            <img [src]="album.fotoPortada ? album.fotoPortada : 'no_cancion.png'" alt="{{ album.nombre}}" class="album-img">
          <div class="album-info">
            <strong>{{ album.nombre }}</strong>
          </div>
        </div>
      </div>
    </div>
  
    <div *ngIf="albumes.length === 0">
        <p style="margin-left: 3%;color:var(--letra)">Este artista no tiene ningún album.</p>
      </div>
  </div>
  


  
      
  
    
      
  
    