body {
    background: linear-gradient(270deg, #c7d2f7, #9db1fa, #8ca4ff, rgb(104, 134, 243), #5771cf);
    background-size: 400% 400%;
    animation: animacionFondo 10s ease infinite; 
    color: white;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
.container {
    background-color: #000e3b;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    width: auto;
    max-width: 550px;
}
@keyframes animacionFondo {
    0% {
      background-position: 0% 50%;
    }
    25% {
      background-position: 80% 20%;
    }
    50% {
      background-position: 20% 80%;
    }
    75% {
      background-position: 100% 40%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

h1{
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: left;
}

h2 {
    font-size: 16px;
    text-align: left;
}

.botones {
    display: flex;
    gap: 35px;
}

.btn {
    background-color: #8ca4ff;
    color: #000e3b;
    padding: 10px;
    border: none;
    border-radius: 70px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
}
.btn:hover {
    background-color: #2e4074;
}
@media (max-width: 576px) {
    body {
        background: #000e3b !important;
        animation: none !important; 
    }
    .container {
        padding: 20px;
    }
    .botones {
        display: block;
    }
    .btn {
        font-size: 0.9rem;
    }
}