<body>
    <section class="container">
            <h1>Solicitud en revisión</h1>
            <h2>Estamos revisando tu solicitud. Se le enviará un correo a la dirección de correo electrónico proporcionada con la decisión tomada.</h2>
            
            <div class="botones">
                <button type="submit" class="btn" (click)="eliminarSolicitud()">Eliminar Solicitud</button>
                <button type="submit" class="btn" (click)="cerrarSesion()">Cerrar Sesión</button>
            </div>
        
    </section>
</body>
