<div class="contenido">

    <div class="barra-superior" [ngStyle]="{ 'display': mostrarBarra ? 'flex' : 'none' }">
        <h4 style="color: white; padding:7px; margin-left: 15px;"><strong>{{ playlist?.playlist?.nombrePlaylist }}</strong></h4>
    </div>
    <div class="todo" style="position: relative;">
        <div class="top-div">
            <div class="column1">
                <img [src]="playlist?.playlist?.fotoPortada && playlist?.playlist?.fotoPortada !== 'DEFAULT' ? playlist.playlist.fotoPortada : 'logo_noizz.png'"  alt="Foto playlist" class="logo">
            </div>
            <div class="column2">   
                    <h3 *ngIf="playlist?.playlist?.privacidad===false" style="font-size: 15px;">Lista publica</h3>
                    <h1>{{ playlist?.playlist?.nombrePlaylist }}</h1>
                    <h2 style="display: flex; align-items: center; gap: 10px;">
                      <!-- Si no hay colaboradores, muestra solo el creador -->
                      <span *ngIf="!playlist?.playlist?.colaboradores?.length">{{ playlist?.playlist?.creador }}</span>
                    
                      <!-- Si hay colaboradores, muestra al creador y a los colaboradores -->
                      <div *ngIf="playlist?.playlist?.colaboradores?.length" style="display: flex; gap: 10px; flex-wrap: wrap;" (click)="abrirModalColaboradores()"
                      [ngStyle]="{'text-decoration': isHovered ? 'underline' : 'none'}"
                      style="display: flex; gap: 10px; flex-wrap: wrap;"
                      (mouseover)="isHovered = true" 
                      (mouseout)="isHovered = false">
                        <span>{{ playlist?.playlist?.creador }}</span>
                    
                        <!-- Muestra el primer colaborador -->
                        <ng-container *ngIf="playlist?.playlist?.colaboradores.length > 0">
                          <span>{{ playlist?.playlist?.colaboradores[0] }}</span>
                        </ng-container>
                    
                        <!-- Muestra "y más" si hay más de un colaborador -->
                        <span *ngIf="playlist?.playlist?.colaboradores.length > 1">
                          y {{ playlist?.playlist?.colaboradores.length - 1 }} más
                        </span>
                      </div>
                    
                      <!-- Muestra siempre el número de canciones en la misma línea -->
                      • {{ playlist?.canciones?.length }} canciones
                    </h2> 
                    <h3 style="font-size: 18px;">{{ getFormattedDuration(getTotalDuracion()) }}</h3>
                    <h3 *ngIf="playlist?.playlist?.privacidad"><i class="fas fa-lock"></i> </h3>
          </div>         
          <div class="column3">
            <div class="sort-container">
              <div class="sort-icon" (click)="toggleSortMenu()">
                <i class="fas fa-exchange-alt vertical-icon"></i>
              </div>
            
              <div class="sort-dropdown" *ngIf="showSortMenu">
                <h4>Ordenar por</h4>
                <ul>
                  <li *ngFor="let option of sortOptions" (click)="sortSongs(option.value)">
                    {{ option.label }}
                  </li>
                </ul>
              </div>
            </div>    
          </div>
    </div>
    <div class="icons-container">
        <div class="play-song" (click)="togglePlayPause()">
          <i class="fas" [ngClass]="isPlaying ? 'fa-pause' : 'fa-play'"></i>
        </div>
      
        <div class="aleatorio" (click)="toggleShuffle()" [ngClass]="{'active': isShuffle}" >
          <i class="ph-shuffle"></i> 
        </div>
        
        <span *ngIf="esMiPlaylist && playlist?.playlist?.nombrePlaylist !== 'Favoritos'" (click)="toggleDropdownSeguidores()" style="position: relative; display: inline-block;">
          <i class="far fa-user" style="margin-left:5px;font-size: 1.5em;"></i>
            <i class="fas fa-plus" style="font-size: 0.7em; position: absolute; left: 90%; top: -10%;"></i>
            <div class="seguidores-dropdown" *ngIf="DropdownSeguidores">
              <p style="margin-left:10px;margin-bottom:2px">Invitar a:</p>
              <div class="search-container" (click)="preventDropdownClose($event)">
                  <input 
                      type="text" 
                      placeholder="Buscar usuarios" 
                      [(ngModel)]="searchInvitadosTerm" 
                      (input)="buscarInvitados()"
                      (click)="preventDropdownClose($event)"
                      class="invitados-search-input"
                  >
              </div>
              <ul>
                  <ng-template ngFor let-invitado [ngForOf]="searchedInvitados">
                      <li (click)="invitarUsuario(invitado, currentPlaylistId)">
                          <img 
                              [src]="invitado.fotoPerfil && invitado.fotoPerfil !== 'DEFAULT' ? invitado.fotoPerfil : 'nouser.png'" 
                              alt="Foto de {{ invitado.nombreUsuario }}"
                          >
                          {{ invitado.nombreUsuario }}
                      </li>
                  </ng-template>
              </ul>
          </div>
        </span>
        <span *ngIf="(esMiPlaylist || soyColaborador) && playlist?.playlist?.nombrePlaylist !== 'Favoritos'" (click)="toggleDropdownMenu()" style="position: relative; display: inline-block;">
          <i class="fas fa-ellipsis-h" style="margin-left:10px;"></i>
            <div class="menu-dropdown" *ngIf="DropdownMenu">
              <ul>
                  <li (click)="abrirModalEditar()">
                    Editar Datos
                  </li>
                  <li *ngIf="esMiPlaylist"(click)="eliminarPlaylist(currentPlaylistId)">
                    Eliminar
                  </li>
                  <li *ngIf="soyColaborador"(click)="abandonarPlaylist(currentPlaylistId)">
                    Abandonar lista
                  </li>
                  <li *ngIf="esMiPlaylist && playlist?.playlist?.privacidad === false" (click)="cambiarPrivacidad(currentPlaylistId,playlist.playlist.privacidad)">
                    Hacer privada
                  </li>
                  <li *ngIf="esMiPlaylist && playlist?.playlist?.privacidad === true" (click)="cambiarPrivacidad(currentPlaylistId,playlist.playlist.privacidad)">
                    Hacer publica
                  </li>
              </ul>
            </div>
        </span>
        <div *ngIf="isModalColaboradoresOpen" class="modal-overlay">
          <div class="modal-content">
              <div class="cabecera" style="display: flex;justify-content: space-between;">
                  <p style="font-size: 20px; color: #000e3b; margin-top: 23px; font-weight: bold;">Compartida con</p>
                  <button (click)="cerrarModalColaboradores()" class="btn-cerrar"><i class="fas fa-times"></i></button>
              </div>
              <div *ngFor="let colaborador of playlist.playlist.colaboradores; let i = index;">
                <div class="colaborador">
                  {{ playlist.playlist.colaboradores[i] }} 
                  <button *ngIf=esMiPlaylist class="btn-expulsar" (click)="echarUsuario(playlist.playlist.colaboradores[i], currentPlaylistId)">Expulsar</button>
                </div>
              </div>     
            </div>
        </div>

        <div *ngIf="isModalEditarOpen" class="modal-overlay">
          <div class="modal-content">
              <div class="cabecera" style="display: flex;justify-content: space-between;">
                  <p style="font-size: 20px; color: #000e3b; margin-top: 23px; font-weight: bold;">Editar Playlist</p>
                  <button (click)="cerrarModalEditar()" class="btn-cerrar"><i class="fas fa-times"></i></button>
              </div>
              
              <div class="atributos" style="display: flex;justify-content: space-between;">
                  <div class="image-upload-container">
                      <img [src]="fotoNueva && fotoNueva!== 'DEFAULT' ? fotoNueva : 'no_cancion.png'" alt="Foto de perfil" class="logo" style="border-radius: 5%; width: 110px; height: 110px;">
                      <label for="file-input" class="upload-icon-playlist">
                        <i class="fa fa-upload" aria-hidden="true"></i> Subir nueva foto
                      </label>
                      <input id="file-input" type="file" style="display: none;" (change)="onFileSelectedPlaylist($event)">
                  </div>
                  <div class="textos" style="display: flex; flex-direction: column; width: 60%; justify-content: center; align-items: center;">
                      <input type="text" id="nombre" [(ngModel)]="nombreActual" placeholder="Escribe un nuevo nombre">
                      <button class="btn-guardar" (click)="guardarCambiosPlaylist()">Guardar Cambios</button>
                  </div>
              </div>
          </div>
      </div>     
    </div>
      <div *ngIf="!playlist?.canciones?.length" class="empty-playlist-container">
        <div class="empty-state-message">
            <p>Busca canciones para añadir a tu lista</p>
        </div>
        
        <div class="search-songs-container">
            <div class="search-input-wrapper">
                <i class="fas fa-search search-icon"></i>
                <input 
                    type="text" 
                    placeholder="Buscar canciones, artistas o álbumes" 
                    [(ngModel)]="searchSongTerm" 
                    (input)="searchSongsForPlaylist()"
                    class="search-songs-input"
                >
            </div>
            
            <div class="search-results-container" *ngIf="searchResults?.length">
                <div *ngFor="let cancion of searchResults" class="search-result-item" >
                    <div class="song-image-wrapper">
                        <img [src]="cancion.fotoPortada || 'no_cancion.png'" alt="{{ cancion.nombre }}">
                    </div>
                    <div class="song-details">
                        <div style="font-weight: bold;">{{ cancion.nombre }}</div>
                        <div class="artist-name">{{ cancion.nombreArtisticoArtista }}</div>
                    </div>
                    <div class="add-button" (click)="anadiraPlaylist(currentPlaylistId, cancion.id)">
                        <i class="fas fa-plus"></i>
                    </div>
                </div>
            </div>
            
            <div class="no-results" *ngIf="searchSongTerm && !searchResults?.length">
                <p style="margin-bottom: 0;">No se encontraron resultados para "{{ searchSongTerm }}"</p>
            </div>
        </div>
    </div>
    <div class="playlist">
        <div *ngFor="let cancion of playlist?.canciones; let i = index" 
             class="song" 
             [ngClass]="{
              'playing': isPlaying && cancion.id === currentTrack?.id,
              'current-track': cancion.id === currentTrack?.id
            }" 
             (click)="onTrackClick(cancion)">
          
          <div class="song-number">{{ i + 1 }}</div>
          <div class="song-image-wrapper">
            <img [src]="cancion.fotoPortada && cancion.fotoPortada !== 'DEFAULT' ? cancion.fotoPortada : 'no_cancion.png'"alt="{{ cancion.nombre }}">
          </div>
          <div class="song-details">
            <div style="font-weight: bold;">{{ cancion.nombre }}</div>
            <div class="artist-name">{{ cancion?.nombreArtisticoArtista }}</div>
          </div>
          <div class="repros">{{ cancion?.reproducciones }} reproducciones</div>
          <div class="fecha">{{ convertirFecha(cancion?.fecha) | date:'d MMMM yyyy' }}</div>
          <div class="controls">
            <span>{{ cancion.duracion | duration }}</span>
            <button class="favorite-btn" (click)="toggleFavorite(cancion.id);$event.stopPropagation()" [ngClass]="{'disabled-btn': !currentTrack}">
                <i [ngClass]="cancion.fav ? 'fas fa-heart' : 'far fa-heart'"></i>
              </button>
              <div class="song-ellipsis" (click)="toggleDropdown(cancion.id); $event.stopPropagation()">
                <i class="fas fa-ellipsis-h"></i>
              
                <!-- dropdown menu principal -->
                <div class="dropdown-menu" *ngIf="showDropdownId === cancion.id" [ngClass]="{ 'show': showDropdownId === cancion.id }" >
                  <ul>
                    <li class="list-option" (click)="toggleListsDropdown($event)">
                      Añadir a lista
                      <i class="fas fa-chevron-right"></i>
              
                      <!-- dropdown menu listas -->
                      <div class="lists-dropdown" *ngIf="showListsDropdown">
                        <div class="search-container" (click)="preventDropdownClose($event)">
                          <input 
                              type="text" 
                              placeholder="Buscar playlist" 
                              [(ngModel)]="searchPlaylistTerm" 
                              (input)="filterPlaylists()"
                              class="playlist-search-input"
                          >
                      </div>
                      <ul>
                        <li (click)="abrirModalPlaylist(cancion.id)">
                          <button class="btn-nueva-lista">Nueva lista</button>
                        </li>
                      
                        <ng-container *ngFor="let playlist of filteredPlaylists">
                          <li *ngIf="playlist?.id !== currentPlaylistId" (click)="anadiraPlaylist(playlist.id, cancion.id)">
                            {{ playlist?.nombre }}
                          </li>
                        </ng-container>
                      </ul>
                      </div>
                      
                                          
                    <li *ngIf="currentPlaylistId && (esMiPlaylist || soyColaborador) && playlist?.playlist?.nombrePlaylist !== 'Favoritos'" (click)="eliminarDePlaylist(currentPlaylistId.toString(), cancion.id)">
                        <button class="btn-remove-playlist">
                          Quitar de la Playlist
                        </button>
                    </li>   
                    <li *ngIf="currentPlaylistId && (esMiPlaylist || soyColaborador) && playlist?.playlist?.nombrePlaylist == 'Favoritos'" (click)="toggleFavorite(cancion.id);">
                      <button class="btn-remove-playlist">
                        Quitar de canciones que te gustan
                      </button>
                    </li>                 
                    <li [routerLink]="['/home/album', cancion.album]">Ir al álbum</li>
                    <li [routerLink]="['/home/artista', cancion.nombreUsuarioArtista]">Ir al artista</li>
                  </ul>
                </div>
              </div>          
          </div>
        </div>
      </div>
      <div *ngIf="isModalPlaylistOpen" class="modal-overlay">
        <div class="modal-content">
            <div class="cabecera" style="display: flex;justify-content: space-between;">
            <p style="font-size: 20px; color: #000e3b; margin-top: 23px; font-weight: bold;">Crear playlist</p>
            <button (click)="cerrarModalPlaylist()" class="btn-cerrar">
                <i class="fas fa-times"></i>
            </button>
            </div>
        
            <div class="atributos" style="display: flex;justify-content: space-between;">
            <div class="image-upload-container">
                <!-- Mostrar la imagen seleccionada o la imagen por defecto -->
                <img [src]="fotoNueva && fotoNueva!== 'DEFAULT' ? fotoNueva : 'no_cancion.png'" alt="Foto de perfil" class="logo" style="border-radius: 5%; width: 110px; height: 110px;">
                
                <label for="file-input" class="upload-icon-playlist">
                  <i class="fa fa-upload" aria-hidden="true"></i> Subir una foto
                </label>
                
                <input id="file-input" type="file" style="display: none;" (change)="onFileSelectedPlaylist($event)">
                </div>
                
        
            <div class="textos" style="display: flex; flex-direction: column; width: 60%; justify-content: center; align-items: center; gap: 5px;">
                <input type="text" id="nombre"  [(ngModel)]="nombre" placeholder="Escribe el nombre de la playlist">
                <button class="btn-guardar" (click)="crearPlaylist(cancionActual)">Guardar Cambios</button>
            </div>
            </div>
        </div>

        
      
</div>
