/* Contenedor principal que establece el contexto para el posicionamiento */
.contenido {
  position: relative;
  padding: 0 0 20px 0;
}

.barra-superior {
  display: none;  /* Inicialmente la ocultas */
  position: sticky;
  height: 55px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000e3b;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  z-index: 1000;  /* Asegúrate de que esté encima de otros elementos */
}

.barra-superior.mostrar {
  transform: translateY(0); /* Cuando se activa, vuelve a su posición original */
  visibility: visible; /* Se hace visible */
  opacity: 1; /* Se vuelve completamente opaca */
  pointer-events: auto; /* Permite la interacción cuando está visible */
}



.barra-superior.mostrar {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* Todo mantiene su posición con z-index menor */
.todo {
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  position: relative;
  z-index: 1; /* Menor que la barra superior */
}

/* Top-div mantiene su posición */
.top-div {
  height: auto;
  background-color: #e9e6e6;
  color: #000e3b;
  top: 0;
  position: relative;
  z-index: 0; /* Menor que la barra superior */
  display: grid;
  grid-template-columns: 1fr 4fr;
  text-align: flex-start;
  word-break: break-word;
  padding: 5px;
}

.todo::-webkit-scrollbar {
  display: none;
}



/* Títulos principales */
h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
  font-size: 50px;
}

/* Estilos para columnas dentro de la parte superior */
.column1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.column1 img {
  height: 200px;
  width: 200px;
  border-radius: 5%;
  margin: 20px 15px 20px 10px;
}

.column2 {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}



/* Subtítulos */
h2, h3 {
  font-size: 20px;
}

.ph-shuffle {
  font-size: 30px;
}

/* Contenedor de iconos */
.icons-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  margin-top: 20px;
}

/* Estilos generales para la playlist */
.playlist {
  margin-top: 20px;
  padding: 0px 40px;
}

.album-text h2 {
  margin-bottom: 10px;
  font-weight: bold;
}

/* Estilo general para las canciones */
.info {
  display: flex;
  align-items: center;
}

/* Número de canción */
.song-number {
  font-size: 18px;
  text-align: right;  
  margin-right: 10px;
}

/* Estilos para la imagen de la canción */
.song-image-wrapper {
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.song-details {
  grid-column: 3;
}

.artist-name {
  font-size: 14px;
  color: gray;
}

.repros {
  grid-column: 4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 100%;
}


.song {
  display: grid;
  grid-template-columns: 30px 50px 0.75fr 1fr 150px; /* Definición de las columnas */
  width: 100%;
  align-items: center;
  gap: 15px;
  padding: 10px 0; /* Reducimos el padding horizontal a 0 */
  border-radius: 10px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.song:hover {
  background-color: #f0f0f0;
}

.song img {
  width: 50px;
  height: 50px;
  background: #e57373;
  border-radius: 5px;
}

/* Controles de la canción */
.controls {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  align-items: center;
  grid-column: 5;
  margin-right:15px
}

.controls button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}



.far.fa-heart {
  font-size: 23px;
  color: #000E3B;
}

.fas.fa-heart {
  font-size: 23px;
  color: #000E3B;
}

.circle-plus {
  position: relative;
  display: inline-block;
  font-size: 30px;
  color: transparent;
  border: 2px solid #000E3B;
  border-radius: 50%;
  padding: 3px;
  width: 25px;
  height: 25px;
}

.circle-plus i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  color: #000E3B;
}

/* Estilo para el botón de reproducir canción */
.play-song {
  margin-left:50px;
  font-size: 30px;
  color: white;
  background-color: #000E3B;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.play-song {
  background-color: #0a1744;
}

.aleatorio {
  cursor: pointer;
  font-size: 24px;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aleatorio.active {
  color: rgb(99, 122, 184);
}

.aleatorio i {
  transition: transform 0.2s ease;
}

.circle-plus {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 100%;  /* Colócalo justo debajo del ícono */
  background-color: white;
  border-radius: 5px;
  width: 200px;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: none; /* Ocultamos el menú inicialmente */
}

.dropdown-menu.show {
  display: block;  /* Se muestra cuando la clase "show" está activa */
}


.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 12px 16px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-menu li:hover {
  background-color: #807c7c71;
}

.list-option {
  position: relative;
  display: flex; /* Usamos flexbox */
  justify-content: space-between; /* Esto distribuye el espacio entre el texto y el icono */
  align-items: center; /* Centra verticalmente el contenido */
  padding: 12px 16px;
  cursor: pointer;
}

.list-option i {
  margin-left: 70px; /* Agregamos un margen al icono para separarlo del texto */
}


.lists-dropdown {
  position: absolute;
  right: 100%;  /* Lo coloca a la derecha del elemento contenedor */
  top: 0;  /* Aparece al mismo nivel que el item "Añadir a lista" */
  background-color: white;
  border-radius: 5px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: none; /* Inicialmente oculto */
  z-index: 100; /* Asegura que esté por encima del dropdown principal */
}

.list-option:hover .lists-dropdown {
  display: block; /* Se muestra cuando el mouse pasa por encima del "Añadir a lista" */
}

.btn-remove-playlist{
  padding:0px;
}

.seguidores-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 150px; 
  max-width: 200px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  z-index: 10;
  padding: 8px 0;
}

.seguidores-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 150px;
  overflow-y: auto;
}


.seguidores-dropdown ul::-webkit-scrollbar {
  display: none;
}

.seguidores-dropdown li {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
}

.seguidores-dropdown li:last-child {
  border-bottom: none;
}

.seguidores-dropdown li img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover; 
}

.seguidores-dropdown li:hover {
  background-color: #f0f0f0;
}
