.top-div {
    height: auto;
    background-color: var(--cabecera); /* Fondo de ejemplo */
    color: var(--letra);
    top: 0;
    z-index: 1;
    display: flex;
    flex-wrap: wrap; /* Permite que el contenido fluya a la siguiente línea */
    text-align: flex-start; /* Centra el texto */
    word-break: break-word;
    padding: 5px;
}

.column1 {
    display: flex;
    flex-direction: column; /* Alineación en columna */
    justify-content: center; /* Centra los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    height: auto;
}
.column1 img {
    height: 200px;
    width: 200px;
    border-radius: 12%;
    padding: 0;
    margin: 20px 15px 20px 10px;
}

.column2 {
    display: flex;
    flex: 1;
    flex-direction: column; /* Alineación en columna */
    justify-content: center; /* Centra los elementos verticalmente */
    align-items: flex-start;  
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    font-size: 50px;
}

h4 {
    font-size: 18px;
    color: var(--letra);
    margin: 0px;
}

.fecha {
    margin-top: 8px; 
    font-size: 15px;
}
.column3 {
    margin-left: auto; /* Empuja la columna hacia la derecha */
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center; /* Alinea el contenido verticalmente */
    justify-content: flex-end;
    padding: 20px;
}

.btn-album {
    border: none;
    background-color: #8ca4ff;
    width: auto;
    height: auto;
    border-radius: 20px;
    padding: 3px 8px;
}

.btn-album:hover {
    background-color:#7587c8e0;
}

.bottom-div {
    display: flex;
    flex-wrap: wrap; /* Permite que el contenido fluya a la siguiente línea */
    text-align: flex-start; /* Centra el texto */
    word-break: break-word;
    width: 100%;
    padding: 0px 0px 20px 0px;
}
.estadisticas {
    display:flex;
    width: 100%;
    flex-direction: column;
    gap: 3px;
    color: var(--letra);
    font-size: 20px;
}
.partesMeGusta {
    display: flex;
    align-items: center; /* Alinea verticalmente todos los elementos dentro */
    gap: 12px;
}
.partes1 {
    display:flex;
    align-items: flex-end;
    gap: 12px;
    width: auto;
}

.titulo_megustas {
    margin:0px; 
    margin-left: 30px; 
    margin-top: 20px;
}

.titulo_repros {
    margin:0px;
    margin-left: 30px;
}

.mostrar {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    margin-top: -35px;
    padding: 10px;
}

.partes {
    display: flex;
    width: 100%;
    gap: 12px;
    align-items: flex-end;
}

.btn-detalles {
    border: none;
    background-color: transparent;
    font-size: 12px; 
    margin-bottom:3px; 
    text-decoration: underline; 
    padding:0px;
    color:var(--letra);
}

.container {
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto;
    white-space: nowrap;
    max-width: 100%;
}

.container::-webkit-scrollbar {
    display: none;
}

.artist-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:var(--letra);
    padding: 12px;
    border-radius: 12px;
    border: transparent;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 150px;
    height: 100%;
    min-width: 140px; 
    flex: 0 0 auto;
    max-width: 100%;
    position: relative;
    background-color: transparent;
}

.artist-card strong {
    font-size: 15px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.artist-card p {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.artist-card img {
    width: 105px;
    height: 105px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 5px;
}

.primer-elemento {
    margin-left: 1%;
}

.graficos {
    display:flex;
    gap: 50px;
    width: auto;
    height: auto;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    flex-wrap: wrap; 
    padding: 10px 0px;
}
.grafico-container {
    width: 400px;
    height: 200px;
    margin: 10px 0px 0px 0px;
    display: flex;
    justify-content: center; /* Centra el canvas dentro del contenedor */
    align-items: center; 
}

.popular-songs {
    color: var(--letra);
    width: 98%;
    padding: 10px 10px 0px 30px;
}

.atributos {
    display: flex;
    color:var(--letra2);
    font-size: 12px;
    padding: 5px 15px;
    border-bottom: 1px solid var(--letra2);
    justify-content: space-between;
    margin-bottom: 8px;
}

.song {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    justify-content: space-between;
    border-radius: 8px;
    font-size: 13px;
    transition: transform 0.2s ease-in-out, background-color 0.3s ease-in-out; 
}
.song:hover {
    background-color: var(--hover);
}
.song img {
    width: 44px;
    height: 44px;
    border-radius: 5px;
    margin-right: 15px;
}
.song-title {
    display: flex;
    flex-grow: 1;
    min-width: 40%;
    flex-direction: column;
    white-space: nowrap; /* Evita que el título se rompa en varias líneas */
    text-overflow: ellipsis; 
}
.song-plays {
    display: flex;
    gap: 60px;
    text-align: center;
    align-items: center;
    margin-left: auto;
}
  
.estats_cancion:hover {
    text-decoration: underline;
}

.tres_puntos {
    display: none;
    color:var(--letra2);
    font-size: 11px;
    cursor: pointer;
}

.icono_estats {
    border: none;
    background-color: transparent;
    display: none;
    color:var(--letra);
}

.dropdown-content {
    position: absolute; /* Posiciona el desplegable de manera absoluta en relación al contenedor */
    background-color: white;
    border: 1px solid #ddd;
    padding: 4px;
    border-radius: 5px;
    box-shadow: 0 4px 8px var(--shadow);
    z-index: 100; /* Asegura que el desplegable esté por encima de otros elementos */
    display: block;
    max-width: 200px; /* Ancho máximo del desplegable */
    font-size: 14px;
}

.opcion_desplegable {
    border:none; 
    background-color: transparent; 
    color: var(--letra2);
}

.opcion_desplegable:hover {
    text-decoration: underline;
}


/*VENTANA DE EDITAR ALBUM*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Opacidad en el fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Contenedor del modal */
  .modal-content {
    background: white;
    padding: 0px 25px 28px 25px;
    border-radius: 10px;
    text-align: left;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 10px var(--shadow);
    color: var(--modal);
  }
  
  /* Botones dentro del modal */
  .btn-cerrar {
    background-color: transparent;
    color: var(--letra);
    border: none;
    cursor: pointer;
    width: 5%;
    height: auto;
    padding: 0px;
    margin: 0px;
  }
  
  .btn-guardar {
    background-color: #8ca4ff;
    color: #000e3b;
    padding: 7px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 13px;
    width: 70%;
    font-size: 14px;
  }
  
  .btn-guardar:hover {
    background-color: #2e4074;
  }
  
  input {
    width: 100%;
    padding: 8px 0px 8px 8px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1.5px solid #a6a6a6;
    background-color: rgb(228, 228, 228);
    color: #000e3b;
    font-size: 11px;
    margin:0px;
  }
  
  /* Contenedor de la imagen y el icono */
  .image-upload-container {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  
  /* Efecto de opacidad cuando el cursor está sobre la imagen */
  .image-upload-container .logo {
    transition: opacity 0.3s ease;
  }
  
  .image-upload-container:hover .logo {
    opacity: 0.5;  /* Efecto de opacidad al pasar el cursor */
  }
  
  /* Estilo para el icono de subir foto */
  .upload-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110px;
    height: 110px;
    padding: 25px;
    color: white;
    font-size: 16px;
    background-color: rgba(61, 59, 59, 0.5);  /* Fondo semitransparente */
    border-radius: 12%;
    cursor: pointer;
    display: none;  /* Ocultamos el icono por defecto */
  }
  
  .image-upload-container:hover .upload-icon {
    display: block;  /* Mostramos el icono al pasar el cursor */
  }
  
  .upload-icon i {
    color: white;
  }


  /*VENTANA ELIMINAR ALBUM*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Opacidad en el fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Contenedor del modal */
  .modal-content {
    background: var(--modal);
    padding: 0px 22px 25px 25px;
    border-radius: 10px;
    text-align: left;
    width: 90%;
    max-width: 465px;
    box-shadow: 0 4px 10px var(--shadow);
    color: var(--letra);
  }
  
  /* Botones dentro del modal */
  .btn-cerrar {
    background-color: transparent;
    color:var(--letra);
    border: none;
    cursor: pointer;
    width: 5%;
    height: auto;
    padding: 0px;
    margin-left: auto;
    margin-top: 15px;
  }
  
  .btn-eliminar {
    background-color: #8ca4ff;
    color: var(--letra);
    padding: 7px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 13px;
    width: 50%;
    font-size: 14px;
  }
  
  .btn-eliminar:hover {
    background-color: #7587c8e0;
  }

  @media (max-width: 850px) {
    .estats_cancion {
        display: none;
    }
    .titulo_estats {
        display: none;
    }
    .tres_puntos {
        display:inline-block;
    }
    .icono_estats {
        display: flex;
    }
  }

  @media (max-width: 750px) {
    h1 {
        font-size: 50px;
    }
  }


  @media (max-width: 700px) {
    .titulo_duracion {
        display: none;
    }
    .duracion {
        display: none;
    }

    h1 {
        font-size: 40px;
    }
    h4 {
        font-size: 13px;
    }
    .column1 img {
      height: 110px;
      width: 110px;
    }
    .fecha {
        font-size: 12px;
    }
    .btn-album {
        font-size: 13px;
    }

  }

  @media (max-width: 550px) {
    h1 {
        font-size: 30px;
    }
  }

  @media (max-width: 450px) {
    h1 {
        font-size: 20px;
    }
    h4 {
        font-size: 10px;
    }
    .column1 img {
        height: 80px;
        width: 80px;
    }
    .btn-album {
        font-size: 10px;
    }
    .fecha {
        font-size: 9px;
    }
    .popular-songs {
        color: #000e3b;
        width: 100%;
        padding: 10px 10px 0px 10px;
    }
    .titulo_megustas {
        margin-left: 10px; 
    }
    .titulo_repros {
        margin-left: 10px;
    }
 
  }

