<div class="contenido">

    <div class="barra-superior" [ngStyle]="{ 'display': mostrarBarra ? 'flex' : 'none' }">
        <h4 style="color: white; padding:7px; margin-left: 15px;"><strong>{{oyente.nombre}}</strong></h4>
    </div>

    <div class="todo" style="position: relative;">
        <div class="top-div">
            <div class="column1">
                <img [src]="oyente.foto && oyente.foto!== 'DEFAULT' ? oyente.foto : 'nouser.png'" alt="Foto de perfil">
            </div>

            <div class="column2">   
                <div *ngIf="oyente.nombre">
                    <h1>{{oyente.nombre}}</h1>
                    <div class="seguidores">
                        <a>
                            <h4><strong> {{oyente.nSeguidores}} {{ oyente.nSeguidores === 1 ? ' Seguidor' : ' Seguidores' }}</strong></h4>
                        </a>
                        <a>
                            <h4><strong>{{oyente.nSeguidos}} {{ oyente.nSeguidos === 1 ? ' Seguido' : ' Seguidos' }}</strong></h4>
                        </a>
                    </div>
                    <h4 style="margin-top: 8px; font-size: 15px;"> {{suNumeroPlaylistsPublicas}} {{suNumeroPlaylistsPublicas === 1 ? ' playlist pública' : ' playlists públicas' }}</h4>
                </div>
            </div>

        </div>

        <div class="botones">
            <button class="btn-noizz" (click)="toggleSeguir()">
                <h5 style="margin: 0px;">{{ oyente.siguiendo ? 'Siguiendo' : 'Seguir' }} </h5>
            </button> 
            <button class="btn-noizz" [routerLink]="['/home/noizzys', oyente.nombre]">
                <h5 style="margin: 0px;">Ver Más Noizzys</h5>
            </button>                       
        </div>

        <div *ngIf="ultimoNoizzy?.texto != ''">
            <div class="ultimoNoizzy">
                <div class="noizzy-card" [routerLink]="['/home/noizzitos', ultimoNoizzy?.id]">
                    <div class="noizzy-header">
                    <img [src]="oyente.foto && oyente.foto !== 'DEFAULT' ? oyente.foto : 'nouser.png'" alt="Avatar" class="avatar" />
                    <span class="username" (click)="$event.stopPropagation()">{{ currentUser }}</span>
                    </div>
                    <div class="noizzy-content">
                    <p>{{ ultimoNoizzy?.texto }}</p>
                    <!-- Mostrar información de la canción si está asociada -->
                    <div *ngIf="ultimoNoizzy?.cancion" class="cancion-info">
                        <img [src]="ultimoNoizzy?.cancion.fotoPortada || 'default-image.png'" alt="{{ ultimoNoizzy?.cancion.nombre }}" class="cancion-imagen" />
                        <div class="cancion-detalle">
                            <p class="cancion-nombre">{{ ultimoNoizzy?.cancion.nombre}}</p>
                            <p class="cancion-artista">{{ ultimoNoizzy?.cancion.nombreArtisticoArtista }}</p>
                        </div>
                    </div>
                    </div>
                    <div class="noizzy-footer">
                    <button class="btn-like"><i [ngClass]="ultimoNoizzy?.like ? 'fas fa-thumbs-up' : 'far fa-thumbs-up'"></i>  {{ ultimoNoizzy?.num_likes }}</button>
                    <button class="btn-comment" ><i class="far fa-comments"></i> {{ ultimoNoizzy?.num_comentarios }}</button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="suNumeroPlaylistsPublicas > 0">
            <div class="titulo">
                <h2 style="margin-bottom: 10px; margin-top: 25px;"><strong>Playlists públicas</strong></h2>
                <a [routerLink]="['/home/playlists-publicas', oyente.nombre]">
                    <h4 class="linkMostrarMas" style="margin-top: 25px; font-size: 13px;">Mostrar todas</h4>
                </a>
            </div>

            <div class="container">       
                <div *ngFor="let playlist of susPlaylistsPublicas; let i = index" class="card" [ngClass]="{ 'primer-elemento': i === 0 }">
                    <div class="dentro-card">
                        <a [routerLink]="['/home/playlist', playlist?.id]"> 
                            <img [src]="playlist.fotoPortada && playlist.fotoPortada !== 'DEFAULT' ? playlist.fotoPortada : 'no_cancion.png'" [alt]="playlist.nombre"> 
                            <strong>{{ playlist.nombre}}</strong>
                        </a>
                    </div>          
                </div>
            </div>
        </div>

        <div *ngIf="susSeguidores.length > 0">
            <div class="titulo">
                <h2 style="margin-bottom: 10px; margin-top: 25px;"><strong>Seguidores</strong></h2>
                <a [routerLink]="['/home/seguidores',currentUser]">
                    <h4 class="linkMostrarMas" style="margin-top: 25px; font-size: 13px; margin-right: 15px;">Mostrar todos</h4>
                </a>
            </div>

            <div class="container">       
                <div *ngFor="let seguido of susSeguidores; let i = index" class="artist-card" [ngClass]="{ 'primer-elemento': i === 0 }">   
                    <a *ngIf="seguido.tipo === 'artista'" [routerLink]="['/home/artista', seguido.nombreUsuario]">       
                        <img [src]="seguido.fotoPerfil && seguido.fotoPerfil !== 'DEFAULT' ? seguido.fotoPerfil  : 'nouser.png'" [alt]="seguido.nombreUsuario">
                        <strong>{{ seguido.nombreUsuario }}</strong>
                    </a>
                    <a *ngIf="seguido.tipo === 'oyente'"  (click)="navigateToProfile(seguido.nombreUsuario)">       
                        <img [src]="seguido.fotoPerfil && seguido.fotoPerfil !== 'DEFAULT' ? seguido.fotoPerfil  : 'nouser.png'" [alt]="seguido.nombreUsuario">
                        <strong>{{ seguido.nombreUsuario }}</strong>
                    </a>
                </div>
            </div>
        </div>

        <div *ngIf="susSeguidos.length > 0">
            <div class="titulo">
                <h2 style="margin-bottom: 10px; margin-top: 25px;"><strong>Seguidos</strong></h2>
                <a [routerLink]="['/home/seguidos',currentUser]">
                    <h4 class="linkMostrarMas" style="margin-top: 25px; font-size: 13px; margin-right: 15px;">Mostrar todos</h4>
                </a>
            </div>

            <div class="container">       
                <div *ngFor="let seguido of susSeguidos; let i = index" class="artist-card" [ngClass]="{ 'primer-elemento': i === 0 }">
                    <a *ngIf="seguido.tipo === 'artista'" [routerLink]="['/home/artista', seguido.nombreUsuario]">               
                        <img [src]="seguido.fotoPerfil && seguido.fotoPerfil !== 'DEFAULT' ? seguido.fotoPerfil  : 'nouser.png'" [alt]="seguido.nombreUsuario">
                        <strong>{{ seguido.nombreUsuario }}</strong>
                    </a>
                    <a *ngIf="seguido.tipo === 'oyente'"  (click)="navigateToProfile(seguido.nombreUsuario)">       
                        <img [src]="seguido.fotoPerfil && seguido.fotoPerfil !== 'DEFAULT' ? seguido.fotoPerfil  : 'nouser.png'" [alt]="seguido.nombreUsuario">
                        <strong>{{ seguido.nombreUsuario }}</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>