<div class="music-player">

  <!-- Información de la canción -->
  <div class="track-info">
    <ng-container *ngIf="currentTrack; else noTrack">
      <img *ngIf="currentTrack.fotoPortada" [src]="currentTrack.fotoPortada" alt="Portada" class="album-cover" />
      <div class="track-details">
          <h3><strong>{{ currentTrack.nombre }}</strong></h3>
          <button class="btn-artista" (click)="goPantallaArtista()"><h4>{{ currentTrack.nombreArtisticoArtista }}</h4></button>
      </div>
    </ng-container>

      <!-- Corazón de favoritos -->
      <button class="favorite-btn" (click)="toggleFavorite()" [ngClass]="{'disabled-btn': !currentTrack}">
        <i [ngClass]="isFavorite ? 'fas fa-heart' : 'far fa-heart'"></i>
      </button>

      <div *ngIf="screenWidth < 480" class="mobile-controls">
        <button class="play-btn" (click)="togglePlay()" [ngClass]="{'disabled-btn': !currentTrack}">
          <i [ngClass]="isPlaying ? 'fas fa-pause-circle' : 'fas fa-play-circle'"></i>
        </button>
      </div>
    

    <ng-template #noTrack>
        <img src="no_cancion.png" alt="no_cancion" class="album-cover">
        <div class="track-details" [ngClass]="{'disabled-btn': !currentTrack}">
            <h3><strong>Sin canción</strong></h3>
            <h4>Desconocido</h4>
        </div>
    </ng-template>
  </div>

<!-- Controles de reproducción -->
<div class="parte_central">
    <div class="controls">
        <button class="control-btn" (click)="prevTrack()" [ngClass]="{'disabled-btn': !currentTrack}">
            <i class="fas fa-step-backward"></i>
        </button>
        <button class="play-btn" (click)="togglePlay()" [ngClass]="{'disabled-btn': !currentTrack}">
            <i [ngClass]="isPlaying ? 'fas fa-pause-circle' : 'fas fa-play-circle'"></i>
        </button>
        <button class="control-btn" (click)="nextTrack()" [ngClass]="{'disabled-btn': !currentTrack}">
            <i class="fas fa-step-forward"></i>
        </button>   
    </div>

    <div class="progress-container">
        <span class="time-left">{{ formatTime(currentTime) }}</span>
        <!-- Barra de progreso con color dinámico -->
        <input type="range" class="progress-bar" [value]="currentTime" [max]="duration || 1" (input)="seekTrack($event)" [ngClass]="{'disabled-btn': !currentTrack}"/>
        <span class="time-right">{{ formatTime(duration) }}</span>
    </div>
</div>


  <!-- Control de volumen -->
  <div class="volume-control">
      <i class="ri-volume-up-fill" [ngClass]="{'ri-volume-mute-fill': volume === 0, 'ri-volume-up-fill': volume > 0,'disabled-btn': !currentTrack}"></i>
      <input type="range" class="barra_volumen" min="0" max="100" [(ngModel)]="volume" (input)="changeVolume()" [ngClass]="{'disabled-btn': !currentTrack}" />
  </div>
</div>

<audio #audioElement (timeupdate)="onTimeUpdate()" (loadedmetadata)="updateProgress()" hidden>
    <source [src]="currentTrack?.preview_url" type="audio/mpeg">
</audio>


