body {
    background-color: #8ca5ffb9;
    padding: 20px;
    margin: 0px;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    text-align: right;
}

.btn-cerrar {
    width: 160px;
    border: none;
    background-color: transparent;
    color: #000e3b;
}

.btn-cerrar:hover {
    text-decoration: underline;
}

.container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 solicitudes por fila */
    gap: 20px; /* Espacio entre solicitudes */
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px; 
}

h1{
    font-size: 30px;
    color: #000e3b;
    text-align: center;
    font-weight: bold;
}

.solicitud {
    display: flex;
    flex-direction: column; /* Acomoda el contenido en columna */
    justify-content: space-between; /* Distribuye el contenido */
    border-radius: 12px;
    border: 2px solid #000e3b;
    padding: 20px;
    background-color: #000e3b;
    width: 100%; 
    height: 200px; /* Mantiene una altura fija */
}

h2 {
    font-size: 25px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.botones {
    display: flex;
    gap: 30px;
}

.indice {
    font-size: 18px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.btn {
    background-color: #bac7f7;
    color: #000e3b;
    padding: 8px;
    border: none;
    border-radius: 70px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: normal;
}
.btn:hover {
    background-color: #2e4074;
}




@media (max-width: 576px) { /* Móviles */
    .container {
        grid-template-columns: repeat(1, 1fr); /* 1 solicitud por fila */
    }
}
