<body>
    <button type="submit" class="btn-cerrar" (click)="cerrarSesion()">Cerrar Sesión</button>
    <h1>Solicitudes en Revisión</h1>
    <div class="container">
        <div *ngFor="let solicitud of solicitudes; let i = index" class="solicitud">
            <p class="indice">Solicitud {{ i + 1 }}</p>
            <h2>{{solicitud.nombreArtistico}}</h2>
            <div class="botones">
                <button type="submit" class="btn" (click)="aceptarSolicitud(solicitud.correo)">Aceptar Solicitud</button>
                <button type="submit" class="btn" (click)="rechazarSolicitud(solicitud.correo)">Rechazar Solicitud</button>
            </div>
        </div>
    </div>
</body>
