/* Div superior que es fijo */
.top-div {
    min-height: 5vh;
    height: auto;
    background-color: var(--fondo);
    position: sticky;
    top: 0;
    z-index: 1;
    overflow: hidden;
    display: grid;
    padding: 2% 1.5% 1% 3%;
    font-family: 'Poppins', sans-serif;
    color: var(--letra);
}

/* Contenedor de las imágenes */
.seguidos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Alinea las imágenes a la derecha */
    gap: 5px;
    padding: 0;
    margin: 0 auto;
    width: 95%;
    box-sizing: border-box;
    padding: 0px 35px;
}

/* Imagen de los seguidores */
.img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 0;
    margin: 10px 0;
    display: block;
    flex-basis: calc(16.66% - 10px); /* 6 imágenes por fila */
}

.filters {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 15px;
}

.filter {
    color: var(--letra);
    cursor: pointer;
}

.filter.active {
    text-decoration: underline;
    font-weight: bold;
}


h3 {
    font-weight: bold;
}

/* Estilo del contenido del encabezado */
.header-content {
    display: flex;
    align-items: center;
    padding-left: 0px; /* Ajusta el espacio a la izquierda */
}

.seguidorcard {
    color:var(--letra);
    display:flex; 
    flex-direction: column; 
    align-items: center;
    padding: 5px 20px;
    border-radius: 12px;
    width: 150px;
    height: 100%;
    min-width: 140px;
}
.seguidorcard:hover {
    background-color: #e9e6e6;
}

a {
    text-decoration: none; 
    color: inherit; 
    all: unset; 
    display: contents;
  }
  
  a:focus,
  a:active,
  a:hover {
    outline: none; 
    text-decoration: none; 
    color: inherit;
  }
