/* Div superior que es fijo */
.top-div {
    min-height: 5vh;
    height: auto;
    background-color: #dddcdc;
    position: sticky;
    top: 0;
    z-index: 1;
    overflow: hidden;
    display: grid;
    padding: 2% 1.5% 1% 3%;
    font-family: 'Poppins', sans-serif;
}

/* Contenedor de las imágenes */
.seguidores {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Alinea las imágenes a la derecha */
    gap: 15px;
    padding: 0;
    margin: 0 auto;
    width: 95%;
    box-sizing: border-box;
}

/* Imagen de los seguidores */
.img {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    padding: 0;
    margin: 10px 0;
    display: block;
    flex-basis: calc(16.66% - 10px); /* 6 imágenes por fila */
}


/* Estilo del botón de regresar */
.back-button {
    display: flex;
    align-items: flex-start;
}

#backButton {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px; /* Espacio entre la flecha y el texto */
}
/* Filtros */
.filters {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 15px;
    padding-left: 10px; /* Ajusta el espacio a la izquierda para que coincida con el encabezado */
}

.filter {
    color: black;
    cursor: pointer;
}

.filter.active {
    text-decoration: underline;
    font-weight: bold;
}


h3 {
    font-weight: bold;
}

/* Estilo del contenido del encabezado */
.header-content {
    display: flex;
    align-items: center;
    padding-left: 0px; /* Ajusta el espacio a la izquierda */
}
