<div class="top-div">
    <div class="column2">
      <div class="header-content">
        <h3>Seguidores</h3>
      </div>
      <div class="filters">
        <span class="filter" [ngClass]="{'active': isActive('all')}" data-filter="all" (click)="filterFollows('all')">Todos</span>
        <span class="filter" [ngClass]="{'active': isActive('artists')}" data-filter="artists" (click)="filterFollows('artists')">Solo artistas</span>
      </div>
    </div>
  </div>
  
  <div class="bottom-div" style="padding: 0px 0px 20px 0px;">
    <div *ngIf="filteredSeguidos != null">
      <div class="seguidos">
        <div *ngFor="let seguidor of filteredSeguidos">
          <div class="seguidorcard">
            <a *ngIf="seguidor.tipo === 'artista'" [routerLink]="['/home/artista', seguidor.nombreUsuario]">
              <img class="img" [src]="seguidor.fotoPerfil && seguidor.fotoPerfil !== 'DEFAULT' ? seguidor.fotoPerfil : 'nouser.png'" [alt]="seguidor.nombreUsuario">
              <strong>{{ seguidor.nombreUsuario}}</strong>
            </a>
            <a *ngIf="seguidor.tipo === 'oyente'" [routerLink]="['/home/perfil', seguidor.nombreUsuario]">
              <img class="img" [src]="seguidor.fotoPerfil && seguidor.fotoPerfil !== 'DEFAULT' ? seguidor.fotoPerfil : 'nouser.png'" [alt]="seguidor.nombreUsuario">
              <strong>{{ seguidor.nombreUsuario}}</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="filteredSeguidos.length === 0">
      <p style="margin-left: 3%;color:var(--letra)">No tienes seguidores.</p>
    </div>
  </div>
  