<!-- Cabecera -->
<div class="top-div">
    <div class="column2">
        <div class="header-content">
            <button id="backButton" (click)="goBack()">
                <i class="fas fa-chevron-left"></i>
            </button>
            <h3>Seguidores</h3>
        </div>
        <div class="filters">
            <span class="filter" [ngClass]="{'active': isActive('all')}" data-filter="all" (click)="filterFollows('all')">Todos</span>
            <span class="filter" [ngClass]="{'active': isActive('artists')}" data-filter="artists" (click)="filterFollows('artists')">Solo artistas</span>
        </div>
    </div>
</div>

<!-- Segundo div: el que tiene scroll -->
<div class="bottom-div">
    <div *ngIf="seguidoresDeUsuario != null && seguidoresDeUsuario.length > 0">
        <div class="seguidores">
            <!-- Mostrar seguidores filtrados -->
            <a *ngFor="let seguidor of filteredSeguidores" [routerLink]="['/perfilOyente', seguidor.Seguidor_correo]">
                <img class="img" [src]="seguidor.img" alt="{{ seguidor.nombre }}" />
            </a>
        </div>
    </div>
    <div *ngIf="seguidoresDeUsuario.length === 0">
        <p>No tienes seguidores.</p>
    </div>
</div>
