.notificaciones-container {
  max-width: 100%;
  padding: 35px 35px 0px 35px;
  font-family: poppins, arial;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.notificaciones-container h2 {
  color:var(--letra);
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
  flex-shrink: 0;
}

.notificaciones-scroll {
  flex-grow: 1;
  overflow-y: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none;  
}

.notificaciones-scroll::-webkit-scrollbar {
  display: none;
}

.notificacion-imagen {
  flex-shrink: 1; 
  margin-right: 12px; 
  margin-left:10px;
}

.playlist-cover {
  width: 70px; 
  height: 70px;
  border-radius: 10%; 
  object-fit: cover;
  transition: all 0.3s ease; 
}

.notificacion-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dropdown);
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px var(--shadow);
}

.notificacion-contenido {
  flex-grow: 1;
  margin-right: 15px;
  align-items: center;
}

.notificacion-contenido p {
  color:var(--letra);
  margin-left:10px;
}

.texto-secundario {
  color:var(--letra);
  font-size: 0.9rem;
}

.notificacion-acciones {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 10px;
}

.btn-unirse, .btn-cancelar {
  padding: 8px 15px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.btn-unirse {
  background-color: var(--controles);
  color: white;
}

.btn-unirse:hover {
  background-color: #000e3ba7;
}

.btn-cancelar {
  background-color: #f0f0f0;
  color: #333;
}

.btn-cancelar:hover {
  background-color: #e0e0e0;
}

.sin-notificaciones {
  text-align: center;
  color: #666;
  padding: 20px;
}