.album-container { 
    font-family: 'poppins', sans-serif;
    background: #f8f9fa;
    padding: 50px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: margin-left 0.3s ease-in-out;
    margin-left: 0;
  }

  .sidebar-open .album-container {
    margin-left: 150px; 
    width: calc(100% - 150px);
}
  .album-header {
    display: flex;
    align-items: center;
  }
  .album-image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 15px;
  }
  .album-info {
    flex-grow: 1;
  }
  .album-title {
    font-size: 1.5em;
    margin: 0;
  }
  .album-meta {
    color: #666;
    font-size: 0.9em;
  }
  .play-button {
    color: #000E3B;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2em;
  }
  .tracklist-controls {
    margin: 15px 0;
  }
  .control-button {
    color: #000E3B;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
  }
  .tracklist {
    list-style: none;
    padding: 0;
  }
  .track-item {
    display: flex;
    align-items: center;
    padding: 10px;
    background: white;
    border-radius: 8px;
    margin-bottom: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  .track-image {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
  }
  .track-info {
    flex-grow: 1;
  }
  .track-name {
    margin: 0;
    font-weight: bold;
  }
  .track-artist {
    margin: 0;
    color: #666;
    font-size: 0.9em;
  }
  .track-plays,
  .track-duration {
    margin-right: 10px;
    color: #666;
    font-size: 0.9em;
  }
  .track-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    margin-left: 5px;
  }