<div class="contenido">

  <div class="barra-superior" [ngStyle]="{ 'display': mostrarBarra ? 'flex' : 'none' }">
      <h4 style="color: white; padding:7px; margin-left: 15px;"><strong>{{ album.nombre }}</strong></h4>
  </div>
  <div class="todo" style="position: relative;">
      <div class="top-div">
          <div class="column1">
              <img [src]="album.fotoPortada && album.fotoPortada !== 'DEFAULT' ? album.fotoPortada : 'no_cancion.png'"  alt="Foto album" class="logo">
          </div>
          <div class="column2">   
            <h1>{{ album.nombre }}</h1>
            <h2>{{ album.nombreArtisticoArtista}} • {{album.fechaPublicacion}}</h2>
            <h3>{{ album.canciones.length }} {{ album.canciones.length === 1 ? ' Canción' : ' Canciones' }} • {{ getFormattedDuration(getTotalDuracion()) }}</h3>
        </div>        
  </div>

  <div class="icons-container">
      <div class="play-song" (click)="playAlbum()">
        <i class="fas" [ngClass]="isPlaying ? 'fa-pause' : 'fa-play'"></i> 
      </div>
      <div class="aleatorio" (click)="toggleShuffle()" [ngClass]="{'active': isShuffle}" >
        <i class="ph-shuffle"></i> 
      </div>
  </div>

  <div class="playlist">
      <div *ngFor="let cancion of album.canciones; let i = index" class="song" [ngClass]="{'playing': isPlaying && cancion.id === currentTrack?.id,'current-track': cancion.id === currentTrack?.id}"  (click)="onTrackClick(cancion)"> 
        <div class="song-number">{{ i + 1 }}</div>
        <div class="song-image-wrapper">
          <img [src]="cancion.fotoPortada || 'no_cancion.png'" alt="{{ cancion.nombre }}">
        </div>
        <div class="song-details">
          <div style="font-weight: bold;">{{ cancion.nombre }}</div>
          <div style="display:flex; gap: 0px;">
            <p style="margin:0px;">{{ album.nombreArtisticoArtista }}</p>
            <p *ngIf="cancion.featuring != ''" style="margin: 0px;"> &nbsp;ft.{{ cancion.featuring }}</p> 
          </div>
        </div>
        <div class="repros">{{ cancion.reproducciones }} {{ cancion.reproducciones === 1 ? ' reproducción' : ' reproducciones' }}</div>
        <div class="controls">
          <span>{{ cancion.duracion | duration }}</span>
          <button class="favorite-btn" style="display:flex; align-items: center;" (click)="toggleFav(cancion.id);$event.stopPropagation()" [ngClass]="{'disabled-btn': !currentTrack}">
              <i [ngClass]="cancion.fav ? 'fas fa-heart' : 'far fa-heart'"></i>
            </button>
            <div class="circle-plus" (click)="toggleDropdown(cancion.id); $event.stopPropagation()">
              <i class="fas fa-plus"></i>
            
              <!-- dropdown menu principal -->
              <div class="dropdown-menu" *ngIf="showDropdownId === cancion.id" [ngClass]="{ 'show': showDropdownId === cancion.id }" >
                <ul>
                  <li class="list-option" (click)="toggleListsDropdown($event)">
                    Añadir a lista
                    <i class="fas fa-chevron-right"></i>
            
                    <!-- dropdown menu listas -->
                    <div class="lists-dropdown" *ngIf="showListsDropdown">
                      <div class="search-container" (click)="preventDropdownClose($event)">
                        <input 
                            type="text"  
                            placeholder="Buscar playlist" 
                            [(ngModel)]="searchPlaylistTerm" 
                            (input)="filterPlaylists()"
                            class="playlist-search-input"
                        >
                    </div>
                    <ul>
                      <li (click)="abrirModalPlaylist(cancion.id)">
                        <button class="btn-nueva-lista">Nueva lista</button>
                      </li>
                    
                      <ng-container *ngFor="let playlist of filteredPlaylists">
                        <li (click)="anadiraPlaylist(playlist.id, cancion.id)">
                          {{ playlist?.nombre }}
                        </li>
                      </ng-container>
                    </ul>
                    </div>
                </ul>
              </div>
            </div>    


            </div>          
        </div>
      </div>
    </div>
    <div *ngIf="isModalPlaylistOpen" class="modal-overlay">
      <div class="modal-content">
          <div class="cabecera" style="display: flex;justify-content: space-between;">
          <p style="font-size: 20px; color: var(--letra); margin-top: 23px; font-weight: bold;">Crear playlist</p>
          <button (click)="cerrarModalPlaylist()" class="btn-cerrar">
              <i class="fas fa-times"></i>
          </button>
          </div>
      
          <div class="atributos" style="display: flex;justify-content: space-between;">
          <div class="image-upload-container">
              <!-- Mostrar la imagen seleccionada o la imagen por defecto -->
              <img [src]="fotoNueva && fotoNueva!== 'DEFAULT' ? fotoNueva : 'no_cancion.png'" alt="Foto de perfil" class="logo" style="border-radius: 5%; width: 110px; height: 110px;">
              
              <label for="file-input" class="upload-icon-playlist">
                <i class="fa fa-upload" aria-hidden="true"></i> Subir una foto
              </label>
              
              <input id="file-input" type="file" style="display: none;" (change)="onFileSelectedPlaylist($event)">
              </div>
              
      
          <div class="textos" style="display: flex; flex-direction: column; width: 60%; justify-content: center; align-items: center; gap: 5px;">
              <input type="text" id="nombre"  [(ngModel)]="nombre" placeholder="Escribe el nombre de la playlist">
              <button class="btn-guardar" (click)="crearPlaylist(cancionActual)">Guardar Cambios</button>
          </div>
          </div>
      </div>
    
    
</div>
