<div [class.sidebar-open]="sidebarOpen">
<div *ngIf="album" class="album-container">
    <div class="album-header">
      <img [src]="album.images[0]?.url" [alt]="album.name" class="album-image">
      <div class="album-info">
        <h1 class="album-title">{{ album.name }}</h1>
        <p class="album-meta">{{ artistNames }} · {{ album.release_date }}</p>
        <p class="album-meta">{{ album.total_duration }} - {{ album.tracks.items.length }} canciones</p>
        <button class="play-button">▶</button>
      </div>
    </div>
  
    <div class="tracklist-controls">
      <button class="control-button">▶</button>
      <button class="control-button">🔀</button>
    </div>
    
    <ul class="tracklist">
      <li *ngFor="let track of album.tracks.items" class="track-item" (click)="playTrack(track)">
        <span class="track-number">{{ track.track_number }}</span>
        <img [src]="album.images[0]?.url" class="track-image">
        <div class="track-info">
          <p class="track-name">{{ track.name }}</p>
          <p class="track-artist">{{ artistNames }}</p>
        </div>
        <span class="track-plays">10,261,175 reproducciones</span>
        <span class="track-duration">3:13</span>
        <button class="track-button">❤</button>
        <button class="track-button">▶</button>
      </li>
    </ul>
  </div>
</div>
  
