.top-div {
    height: auto;
    background-color: var(--cabecera); /* Fondo de ejemplo */
    color: var(--letra);
    top: 0;
    z-index: 1;
    display: flex;
    flex-wrap: wrap; /* Permite que el contenido fluya a la siguiente línea */
    text-align: flex-start; /* Centra el texto */
    word-break: break-word;
    padding: 5px;
}

.column1 {
    display: flex;
    flex-direction: column; /* Alineación en columna */
    justify-content: center; /* Centra los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    height: auto;
}
.column1 img {
    height: 200px;
    width: 200px;
    border-radius: 12%;
    padding: 0;
    margin: 20px 15px 20px 10px;
}

.column2 {
    display: flex;
    flex: 1;
    flex-direction: column; /* Alineación en columna */
    justify-content: center; /* Centra los elementos verticalmente */
    align-items: flex-start;  
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    font-size: 50px;
}

h4 {
    font-size: 18px;
    color: var(--letra);
    margin: 0px;
}

.fecha {
    margin-top: 8px; 
    font-size: 15px;
}
.column3 {
    margin-left: auto; /* Empuja la columna hacia la derecha */
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center; /* Alinea el contenido verticalmente */
    justify-content: flex-end;
    padding: 20px;
}

.btn-album {
    border: none;
    background-color: #8ca4ff;
    width: auto;
    height: auto;
    border-radius: 20px;
    padding: 7px 20px;
}

.btn-album:hover {
    background-color:var(--hover);
}

.bottom-div {
    display: flex;
    flex-wrap: wrap; /* Permite que el contenido fluya a la siguiente línea */
    text-align: flex-start; /* Centra el texto */
    word-break: break-word;
    width: 100%;
    padding: 0px 0px 20px 0px;
}
.estadisticas {
    display:flex;
    width: 100%;
    flex-direction: column;
    gap: 3px;
    color: var(--letra);
    font-size: 20px;
}
.partesMeGusta {
    display: flex;
    align-items: center; /* Alinea verticalmente todos los elementos dentro */
    gap: 12px;
}
.partes1 {
    display:flex;
    align-items: flex-end;
    gap: 12px;
    width: auto;
}

.titulo_megustas {
    margin:0px; 
    margin-left: 30px; 
    margin-top: 10px;
}

.titulo_repros {
    margin:0px;
    margin-top: 20px;
    margin-left: 30px;
}

.mostrar {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    margin-top: -33px;
    padding: 10px;
}

.btn-detalles {
    border: none;
    background-color: transparent;
    font-size: 12px; 
    margin-bottom:3px; 
    text-decoration: underline; 
    padding:0px;
    color:var(--letra);
}

.container {
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto;
    white-space: nowrap;
    max-width: 100%;
}

.container::-webkit-scrollbar {
    display: none;
}

.artist-card, .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:var(--letra);
    padding: 12px;
    border-radius: 12px;
    border: transparent;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 150px;
    height: 100%;
    min-width: 140px; 
    flex: 0 0 auto;
    max-width: 100%;
    position: relative;
    background-color: transparent;
}

.artist-card strong, .card {
    font-size: 15px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.artist-card p, .card {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.artist-card img {
    width: 105px;
    height: 105px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 5px;
}

.card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.artist-card:hover, .card:hover {
    background: var(--hover);;
    transform: scale(1.03);
}

.primer-elemento {
    margin-left: 1%;
}

.dentro-card {
    display: flex;
    flex-direction: column; /* Alinea los elementos (imagen y texto) en columna */
    align-items: flex-start; /* Alinea la imagen y el texto horizontalmente */
    justify-content: center; /* Alinea la imagen y el texto verticalmente */
    text-align: center;
    gap:3px;
    padding: 8px;
    max-width: 100%;
    background-color: transparent;
}

/*VENTANA ELIMINAR CANCION*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Opacidad en el fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Contenedor del modal */
  .modal-content {
    background: var(--modal);
    padding: 0px 22px 25px 25px;
    border-radius: 10px;
    text-align: left;
    width: 90%;
    max-width: 465px;
    box-shadow: 0 4px 10px var(--shadow);
    color: var(--letra);
  }
  
  /* Botones dentro del modal */
  .btn-cerrar {
    background-color: transparent;
    color: var(--letra);
    border: none;
    cursor: pointer;
    width: 5%;
    height: auto;
    padding: 0px;
    margin-left: auto;
    margin-top: 15px;
  }
  
  .btn-eliminar {
    background-color: #8ca4ff;
    color: #000e3b;
    padding: 7px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 13px;
    width: 50%;
    font-size: 14px;
  }
  
  .btn-eliminar:hover {
    background-color: #7587c8e0;
  }




  @media (max-width: 750px) {
    h1 {
        font-size: 50px;
    }
  }


  @media (max-width: 700px) {
    h1 {
        font-size: 40px;
    }
    h4 {
        font-size: 13px;
    }
    .column1 img {
      height: 110px;
      width: 110px;
    }
    .fecha {
        font-size: 12px;
    }
    .btn-album {
        font-size: 13px;
    }

  }

  @media (max-width: 550px) {
    h1 {
        font-size: 30px;
    }
  }

  @media (max-width: 450px) {
    h1 {
        font-size: 20px;
    }
    h4 {
        font-size: 10px;
    }
    .column1 img {
        height: 80px;
        width: 80px;
    }
    .btn-album {
        font-size: 10px;
    }
    .fecha {
        font-size: 9px;
    }
    .titulo_megustas {
        margin-left: 10px; 
    }
    .titulo_repros {
        margin-left: 10px;
    }
  }

