<button class="boton-atras" (click)="volverAtras()">
    <span class="flecha"></span>
</button>


<div *ngIf="tracks.length > 0">
    <h2><strong>Canciones</strong></h2>
    <div class="tracks-container">       
        <div *ngFor="let track of tracks; let i = index" class="track-card" (click)="onTrackClick(track)" [ngClass]="{ 'primer-elemento': i === 0 }">
            <div class="dentro-track-card">
                <img [src]="track.album.images?.length ? track.album.images[0]?.url : 'no_cancion.png'" alt="{{ track.name }}"> 
                <strong>{{ track.name }}</strong>
                <p>{{ track.artists[0]?.name }}</p> 
            </div>          
        </div>
    </div>
</div>

<div *ngIf="artists.length > 0">
    <h2><strong>Artistas</strong></h2>
    <div class="artists-container">       
        <div *ngFor="let artist of artists; let i = index" class="artist-card" [ngClass]="{ 'primer-elemento': i === 0 }">          
            <img *ngIf="artist.images?.length" [src]="artist.images[0]?.url" alt="{{ artist.name }}">
            <strong>{{ artist.name }}</strong>
        </div>
    </div>
</div>

<div *ngIf="albums.length > 0">
    <h2><strong>Álbumes</strong></h2>
    <div class="albums-container">       
        <div *ngFor="let album of albums; let i = index" class="album-card" [ngClass]="{ 'primer-elemento': i === 0 }">     
            <div class="dentro-track-card">    
                <img *ngIf="album.images?.length" [src]="album.images[0]?.url" alt="{{ album.name }}">
                <strong>{{ album.name }}</strong>
                <p>Álbum de {{ album.artists[0]?.name }}</p>
            </div> 
        </div>
    </div>
</div>

<!--<div *ngIf="artists.length > 0">
    <h2><strong>Playlists</strong></h2>
    <div class="artists-container">       
        <div *ngFor="let playlist of playlists; let i = index" class="playlist-card" [ngClass]="{ 'primer-elemento': i === 0 }">          
            <img *ngIf="playlist.images?.length" [src]="playlist.images[0]?.url" alt="{{ playlist.name }}">
            <strong>{{ playlist.name }}</strong>
        </div>
    </div>
</div>-->


    

