<div class="filtros">
    <button class="boton-atras" (click)="volverAtras()">
        <span class="flecha"></span>
    </button>
    <button class="boton-filtro" (click)="cambiarFiltro('todo')"  [ngClass]="{ 'activo': filtroActivo === 'todo' }">
        <h3>Todo</h3>
    </button>
    <button class="boton-filtro" (click)="cambiarFiltro('canciones')"  [ngClass]="{ 'activo': filtroActivo === 'canciones' }">
        <h3>Canciones</h3>
    </button>
    <button class="boton-filtro" (click)="cambiarFiltro('artistas')"  [ngClass]="{ 'activo': filtroActivo === 'artistas' }">
        <h3>Artistas</h3>
    </button>
    <button class="boton-filtro" (click)="cambiarFiltro('albumes')"  [ngClass]="{ 'activo': filtroActivo === 'albumes' }">
        <h3>Álbumes</h3>
    </button>
    <button class="boton-filtro" (click)="cambiarFiltro('playlists')"  [ngClass]="{ 'activo': filtroActivo === 'playlists' }">
        <h3>Playlists</h3>
    </button>
    <button class="boton-filtro" (click)="cambiarFiltro('perfiles')"  [ngClass]="{ 'activo': filtroActivo === 'perfiles' }">
        <h3>Perfiles</h3>
    </button>
</div>

<div class="contenido" (scroll)="onScroll($event)">
    <div *ngIf="filtroActivo === 'todo' || filtroActivo === 'canciones'">
        <div *ngIf="tracks.length > 0">
            <h2><strong>Canciones</strong></h2>
            <div class="tracks-container">       
                <div *ngFor="let track of tracks; let i = index" class="track-card" (click)="onTrackClick(track)" [ngClass]="{ 'primer-elemento': i === 0 }">
                    <div class="dentro-track-card">
                        <img [src]="track.fotoPortada ? track.fotoPortada : 'no_cancion.png'" alt="{{ track.nombre}}">
                        <strong>{{ track.nombre }}</strong>
                        <p>{{ track.nombreArtisticoArtista}}</p> 
                    </div>          
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="filtroActivo === 'todo' || filtroActivo === 'artistas'">
        <div *ngIf="artists.length > 0">
            <h2 style="margin-bottom: 10px;"><strong>Artistas</strong></h2>
            <div class="artists-container">       
                <div *ngFor="let artist of artists; let i = index" class="artist-card" [ngClass]="{ 'primer-elemento': i === 0 }">          
                    <img [src]="artist.fotoPerfil && artist.fotoPerfil !== 'DEFAULT' ? artist.fotoPerfil : 'nouser.png'" alt="{{ artist.nombreArtistico }}">
                    <strong>{{ artist.nombreArtistico }}</strong>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="filtroActivo === 'todo' || filtroActivo === 'albumes'">
        <div *ngIf="albums.length > 0">
            <h2><strong>Álbumes</strong></h2>
            <div class="albums-container">   
                <div *ngFor="let album of albums; let i = index" class="album-card" [ngClass]="{ 'primer-elemento': i === 0 }">       
                    <div class="dentro-track-card"><a [routerLink]="['/home/album',album.id]"> 
                        <img [src]="album.fotoPortada  && album.fotoPortada !== 'DEFAULT' ? album.fotoPortada : 'no_cancion.png'" alt="foto">
                        <strong>{{ album.nombre }}</strong>
                        <p>Álbum de {{ album.nombreArtisticoArtista }}</p>
                    </a> 
                    </div> 
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="playlists.length > 0">
        <h2><strong>Playlists</strong></h2>
        <div class="artists-container">       
            <div *ngFor="let playlist of playlists; let i = index" class="playlist-card" [ngClass]="{ 'primer-elemento': i === 0 }">  
                <div class="dentro-playlist-card"><a [routerLink]="['/home/playlist']"> 
                <img [src]="playlist.fotoPortada  && playlist.fotoPortada !== 'DEFAULT' ? playlist.fotoPortada : 'no_cancion.png'" alt="{{ playlist.nombre }}">        
                <strong>{{ playlist.nombre }}</strong>
                <p>{{ playlist.nombreUsuarioCreador }}</p>
                </a>
            </div>
        </div>
    </div>
</div>


    

