<div class="subir-cancion-container">
    <h2>Crear Álbum</h2>
    <div class="campo" style="margin-top: 20px;">
        <input
        id="nombreAlbum"
        type="text"
        (input)="onNombreAlbumInput($event)"
        placeholder="Introduce el nombre del álbum"
        />
    </div>
    <div class="campo">
        <div
        class="file-upload"
        (dragover)="onDragOverImagen($event)"
        (dragleave)="onDragLeaveImagen($event)"
        (drop)="onDropImagen($event)"
        >
        <span *ngIf="!nuevoAlbum.imagen">Arrastra y suelta la imagen aquí para añadir la portada del álbum</span>
        <span *ngIf="nuevoAlbum.imagen">{{ nombreArchivo }}</span>
        </div>
        <p *ngIf="mensajeError" class="error">{{ mensajeError }}</p>
    </div>
  
    <!-- Subsecciones -->

    <div class="campo">
    <input id="titulo" type="text" placeholder="Introduce el título de la canción" #tituloCancion/>
    </div>
    <div class="campo">
    <div class="custom-dropdown2">
        <div class="selected-option" (click)="toggleEtiquetaDropdown()">
        <span>
            {{ getTextoEtiquetasSeleccionadas() }}
        </span>
        <span class="dropdown-toggle" [class.open]="isEtiquetaDropdownOpen">
            &#9662;
        </span>
        </div>
        <ul *ngIf="isEtiquetaDropdownOpen" class="options etiquetas-options">
        <li
            *ngFor="let etiqueta of etiquetas"
            (click)="selectEtiqueta(etiqueta)"
            [ngClass]="{ 'etiqueta-seleccionada': isEtiquetaSeleccionada(etiqueta) }"
        >
            {{ etiqueta.nombre }}
        </li>
        </ul>
    </div>
    </div>
    <div class="campo">
    <input id="artistas" type="text" placeholder="Introduce los nombres de usuario de los artistas participantes (.ft) separados por comas" #artistasFt/>
    </div>
    <div class="campo" [ngClass]="{ 'campo-con-boton': archivoSeleccionado }">
    <div
        class="file-upload"
        (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)"
        (drop)="onDrop($event)"
    >
        <span *ngIf="!archivoSeleccionado">Arrastra y suelta el archivo aquí para añadir la canción</span>
        <span *ngIf="archivoSeleccionado">{{ archivoSeleccionado.name }}</span>
    </div>
    <button *ngIf="archivoSeleccionado" class="eliminar-archivo" (click)="eliminarArchivo()">Eliminar archivo</button>
    </div>
    <button type="submit" (click)="agregarCancion(tituloCancion.value, artistasFt.value)">Crear álbum</button>


        <!-- Popup para continuar o terminar -->
    <div *ngIf="isPopupContinuarOpen" class="modal-overlay">
      <div class="modal-content-popup">
        <div class="cabecera-popup">
          <button (click)="cerrarPopupContinuar()" class="btn-cerrar-popup"><i class="fas fa-times"></i></button>
        </div>
        <div class="contenido-popup">
          <p style="font-size: 20px; color: var(--letra); font-weight: bold; text-align: center;">
            ¿Quieres seguir añadiendo canciones?
          </p>
        </div>
        <div style="display: flex; justify-content: space-between; margin-top: 0px;">
          <button (click)="terminarYRedirigir()" class="btn-guardar-terminar">Terminar</button>
          <button (click)="cerrarPopupContinuar()" class="btn-guardar-continuar">Continuar</button>
        </div>
      </div>
    </div>

  
    <!-- Popup para crear un álbum -->
    <div *ngIf="isModalAlbumOpen" class="modal-overlay">
      <div class="modal-content">
        <div class="cabecera">
          <p style="font-size: 20px; color: var(--letra); margin-top: 23px; font-weight: bold;">Crear Álbum</p>
          <button (click)="cerrarModalAlbum()" class="btn-cerrar"><i class="fas fa-times"></i></button>
        </div>
    
        
          <div class="campo">
            <input
              id="nombreAlbum"
              type="text"
              (input)="onNombreAlbumInput($event)"
              placeholder="Introduce el nombre del álbum"
            />
          </div>
          <div class="campo">
            <div
              class="file-upload2"
              (dragover)="onDragOverImagen($event)"
              (dragleave)="onDragLeaveImagen($event)"
              (drop)="onDropImagen($event)"
            >
              <span *ngIf="!nuevoAlbum.imagen">Arrastra y suelta la imagen aquí para añadir la portada del álbum</span>
              <span *ngIf="nuevoAlbum.imagen">{{ nombreArchivo }}</span>
            </div>
            <p *ngIf="mensajeError" class="error">{{ mensajeError }}</p>
          </div>
          <div style="display: flex; justify-content: space-between;">
            <button (click)="guardarAlbum()" class="btn-guardar">Guardar</button>
          </div>

      </div>
    </div>
  </div>