

.subir-cancion-container {
  align-items: center !important; /* Centra verticalmente */
  background-color: var(--fondo);
  border-radius: 8px;
  padding:30px;
  width: 100%;
}

input{
  background-color: var(--campos);
}

    .subir-cancion-container h2 {
      all: unset; /* Elimina todos los estilos heredados */
      margin: 0; /* Restablece el margen */
      padding: 0; /* Restablece el padding */
      font-size: 24px; /* Define un tamaño de fuente específico */
      margin: 0 auto; /* Centra el campo en su contenedor */
      margin-left: 5%;
      margin-bottom: 20%;
      font-size: 24px;
      font-weight: bold;
      color: var(--letra);
    }
  
    .btn-guardar.terminar {
      background-color: #ff4d4d;
    }

    .btn-guardar.terminar:hover {
      background-color: #d32f2f;
    }
     
    .album-selection {
      margin-top: 20px;
    }
    
    .album-list {
      display: flex;
      flex-direction: column;
      border: none;
    }
    
    .album-item {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      cursor: pointer;
      border: none;
    }
    
    .album-item img {
      width: 50px;
      height: 50px;
      border-radius: 4px;
      margin-right: 10px;
    }
    
    .album-item span {
      font-size: 16px;
    }
  
  select {
    width: 100%;
    padding: 10px; 
    border: 2px solid #6f6f6f; 
    border-radius: 8px; 
    background-color: #DEDEDE; 
    font-size: 16px; 
    color: #333; 
    outline: none; 
    border: none;
  }
  
  select:focus {
    border: none;
    border-color: #6f6f6f; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
  }
  
  .album-preview ul {
    list-style: none;
    padding: 0;
  }
  
  .album-preview li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .album-preview img {
    margin-right: 10px;
    border-radius: 4px;
  }
  
  .custom-dropdown {
    margin: 0 auto; /* Centra el campo en su contenedor */
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: #aaa7a7;
    cursor: pointer;
  }
  
  .selected-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 16px;
    color: var(--letra3);
    background-color: var(--campos);
  }
  
  .selected-option span {
    text-align: left; 
    margin-left: 5px; 
  }
  
  .dropdown-toggle {
    margin-left: auto;
    font-size: 16px;
    transition: transform 0.3s ease;
  }
  
  .dropdown-toggle.open {
    transform: rotate(180deg); /* Rota el ícono cuando está abierto */
  }
  
  .album-text {
    flex-grow: 1; /* Permite que el texto ocupe el espacio disponible */
    margin-left: 10px; /* Ajusta la distancia entre la imagen y el texto */
    text-align: left; /* Asegura que el texto esté alineado a la izquierda */
  }
  
  /* Elimina el ícono predeterminado del navegador */
  select {
    appearance: none; 
    -webkit-appearance: none; /* Para navegadores basados en WebKit */
    -moz-appearance: none; /* Para Firefox */
    background: none; 
    border: none; 
    outline: none; 
  }
  
  .dropdown-toggle::after {
    content: none; 
  }
  
  /* Elimina los marcadores de las listas */
  .options {
    list-style: none; 
    padding: 1%; 
    margin: 0;
  }
  
  .options li {
    list-style: none; 
    padding: 10px 0; 
    margin: 5px 0; 
    display: flex; 
    align-items: center; 
  }
  
  .options li img {
    margin-left: 10px;
    margin-right: 15px; 
    border-radius: 4px; 
  }
  
  .icon-cross {
    margin-left: 10px;
    margin-right: 10px; 
    font-size: 20px; 
    color: #007bff; 
    display: inline-block; 
    font-weight: bold;
  }
  
  .detalles-cancion {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .campo {
    margin-bottom: 15px;
    position: relative;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: #aaa7a7;
    cursor: pointer;
  }
  
  .campo label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .campo input,
  .campo select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
  }
  
  .file-upload {
    border: 2px dashed var(--letra3);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    color:var(--letra3);
  }
  
  button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Cambia el color del placeholder */
  .campo input::placeholder,
  .campo textarea::placeholder {
    color: var(--letra3) !important; 
    opacity: 1; 
  }
  
  
  /* Compatibilidad con navegadores antiguos */
  .campo input::-webkit-input-placeholder,
  .campo textarea::-webkit-input-placeholder {
    color: var(--letra3) !important; /* Para navegadores basados en WebKit (Chrome, Safari) */
  }
  
  .campo input:-ms-input-placeholder,
  .campo textarea:-ms-input-placeholder {
    color: var(--letra3) !important; /* Para Internet Explorer 10-11 */
  }
  
  .campo input::-ms-input-placeholder,
  .campo textarea::-ms-input-placeholder {
    color: var(--letra3) !important; /* Para Microsoft Edge */
  }
  
  .file-upload {
    border: 2px dashed var(--letra3);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    background-color: var(--campos);
    color:var(--letra3);
    transition: background-color 0.3s ease;
  }
  
  .file-upload2 {
    border: 2px dashed var(--letra3);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    color: var(--letra3);
  }
  
  .file-upload2.drag-over {
    background-color: #e0f7fa; 
    border-color: #007bff; 
    color: #007bff; 
  }
  
  .file-upload.drag-over {
    background-color: #e0f7fa; 
    border-color: #007bff; 
    color: #007bff; 
  }
  
  .file-upload span {
    display: block;
    font-size: 14px;
    color: var(--letra3);;
    word-wrap: break-word; 
  }
  
  .etiquetas-seleccionadas {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .etiqueta {
    background-color: #007bff;
    color: var(--letra);
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
  }
  
  button[type="submit"] {
    display: block; 
    margin: 20px auto; 
    padding: 10px 20px; 
    background-color: #8CA4FF; 
    color: black; 
    border: none; 
    border-radius: 20px; 
    cursor: pointer; 
  }
  
  button[type="submit"]:hover {
    background-color: #b8c7fd; 
  }
  
  /*   .boton-playlist {
      height: auto;
      width: auto;
      padding: 3px 5px;
      border-radius: 20px;
      background-color: #8ca5ffe0;
      border: 2px solid #8ca5ffe0;
    }
  
    .boton-playlist:hover {
      background-color:#7587c8e0;
      border: 2px solid #7587c8e0;
    }*/
  
  /* Estilo para el botón de "Eliminar archivo" */
  button.eliminar-archivo {
    background-color: #ff4d4d;
    color: white; 
    border: none;
    border-radius: 4px; 
    padding: 10px 15px;
    cursor: pointer; 
    display: block; 
    margin: 10px auto; 
    text-align: center; 
  }
  
  /* Estilo específico para las opciones del desplegable de etiquetas */
  .etiquetas-options {
    max-height: 150px;
    overflow-y: auto; 
    list-style: none; 
    padding: 5px 0; 
    margin: 0; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    background-color: #fff; 
  }
  
  /* Estilo para las opciones individuales */
  .etiquetas-options li {
    padding: 5px 10px; 
    margin: 2px 0; 
    cursor: pointer; 
    font-size: 14px; 
    white-space: nowrap; 
  }
  
  /* Efecto hover para las opciones */
  .etiquetas-options li:hover {
    background-color: #f0f0f0;
  }
  
  /* Estilo para las opciones seleccionadas */
  .etiqueta-seleccionada {
    background-color: #e0e0e0;
    color: #333; 
    border-radius: 4px; 
  }
  
  .subir-cancion-container .campo {
     width: 90%;
     /*centrar*/
      margin: 0 auto; 
      margin-bottom: 15px;
  }
  
  .campo-con-boton {
    padding-bottom: 2px; 
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    margin-top: 0;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .cabecera {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .cabecera p {
    margin-top: 0; 
    font-size: 20px;
    font-weight: bold;
    color: #000e3b;
  }
  
  .btn-cerrar {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: black;
  }
  
  .btn-cerrar:hover {
    background: none; 
    color: black;
    cursor: pointer; 
  }
  
  .atributos {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .campo label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .campo input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
  }
  
  .btn-guardar {
    display: block; 
    margin: 0 auto; 
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    text-align: center; 
  }
  
  .btn-guardar:hover {
    background-color: #0056b3;
  }

.modal-content-popup {
  margin-top: 0;
  background-color: #fff;
  border-radius: 8px;
  width: 350px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 90%; 
  padding-bottom: 20px;
}
 
.cabecera-popup {
  position: relative;
  background: none; 
  border: none; 
  cursor: pointer; 
  color: var(--letra); 
}

.cabecera-popup:hover {
  color: red; 
}

.btn-cerrar-popup {
  position: relative; 
  left: 85%;
  background: none; 
  border: none; 
  cursor: pointer; 
  color: var(--letra); 
}

.btn-cerrar-popup:hover {
  color: red; 
  background: none !important;
}

.contenido-popup {
  margin-top: 0px;
  text-align: center; 
}

.btn-guardar-continuar {
  color: var(--letra); 
  margin-top: 23px; 
  display: block; 
  background-color: #8CA4FF; 
  color: black; 
  border: none; 
  border-radius: 20px; 
  cursor: pointer; 
  margin-right: 50px;
}

.btn-guardar-terminar {
  color: var(--letra); 
  margin-top: 23px; 
  display: block; 
  background-color: #ff4d4d; 
  color: black; 
  border: none; 
  border-radius: 20px; 
  cursor: pointer; 
  margin-left: 50px;
}

.btn-guardar-continuar:hover {
  background-color: #b8c7fd; 
}

.btn-guardar-terminar:hover {
  background-color: #fa7676; 
}


