<body>
  <section class="container">
    <img src="logo_noizz.png" alt="Logo" class="logo">
    <h2><strong>Inicia sesión en Noizz</strong></h2>

    <form (ngSubmit)="onSubmit()">
        <label for="email">Correo electrónico</label>
        <input type="email" id="email" [(ngModel)]="credentials.correo" name="email" placeholder="Correo electrónico" required>

        <label for="password">Contraseña</label>
        <div class="password-container">
          <input [type]="isPasswordVisible ? 'text' : 'password'" id="password" [(ngModel)]="credentials.contrasenya" name="password" placeholder="Contraseña" required>
          <i [ngClass]="isPasswordVisible ? 'fas fa-eye' : 'fas fa-eye-slash'" (click)="togglePassword()" class="toggle-password"></i>
        </div>

      <button type="submit" class="btn">Iniciar Sesión</button>
    </form>

    <a [routerLink]="['/olvidoContrasena1']"><strong>¿Has olvidado tu contraseña?</strong></a>
    <a [routerLink]="['/opcionesRegistro']">¿No tienes una cuenta? <strong>Regístrate aquí</strong></a>
  </section>
</body>

