
  /* Div superior que es fijo */
  .top-div {
    height: auto;
    background-color: var(--cabecera); /* Fondo de ejemplo */
    position: sticky;
    top: 0;
    z-index: 1;
    overflow: hidden; /* Evita el scroll dentro de este div */
    display: grid;
    grid-template-columns: 1fr 4fr 2fr; /* Divide en 3 columnas de igual tama침o */
    padding: 12px 8px;
  }

  .column1 {
    display: flex;
    flex-direction: column; /* Alineaci칩n en columna */
    justify-content: center; /* Centra los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    height: auto;
    margin-right: 5px;
  }
  .column1 img {
    height: 125px;
    width: 125px;
    border-radius: 50%;
  }

  .column2 {
    display: flex;
    flex-direction: column; /* Alineaci칩n en columna */
    justify-content: center; /* Centra los elementos verticalmente */
    height: auto;
  }

  .seguidores {
    display: flex;
    gap: 12px;
  }

  h3 {
    color: var(--letra);
  }

  h4 {
    font-size: 15px;
    color: var(--letra);
    margin: 0px;
  }

  h6 {
    color: var(--letra);
    font-size: 20px;
  }

  h1 {
    color: var(--letra);
    font-size: 14px;
    font-weight: normal;
  }

  .linkseguidores {
    text-decoration: none;
  }
  
  .linkseguidores:hover {
    text-decoration: underline;
    color: var(--letra)
  }

  .botones_opciones {
    border: none; 
    background-color: transparent;
    text-align: right;
  }

  .botones_opciones:hover {
    text-decoration: underline;
    color: #000e3b
  }

  .column3 {
    display: flex;
    height: auto;
    flex-direction: column; /* Alineaci칩n en columna */
    justify-content: flex-start; /* Centra los elementos verticalmente */
    align-items: flex-end ;
    text-align: right;
}
  
  h5 {
    font-size: 13px;
    color: var(--letra)
  }

  .boton-crear {
    height: auto;
    width: auto;
    padding: 3px 5px;
    border-radius: 20px;
    margin-top: 5px;
    background-color: #8ca5ffe0;
    border: 2px solid #8ca5ffe0;
  }

  .boton-crear:hover {
    background-color:#7587c8e0;
    border: 2px solid #7587c8e0;
  }

  .botones_centro {
    display: flex;
    gap: 5px;
    padding: 20px 0px 10px 30px;
  }

  .boton-playlist {
    height: auto;
    width: auto;
    padding: 3px 5px;
    border-radius: 20px;
    background-color: #8ca5ffe0;
    border: 2px solid #8ca5ffe0;
  }

  .boton-playlist:hover {
    background-color:#7587c8e0;
    border: 2px solid #7587c8e0;
  }


  /* Div inferior que tiene el scroll */
  .bottom-div {
    flex: 1; /* Este div ocupar치 el espacio restante */
    background-color: var(--fondo); /* Fondo de ejemplo */
    overflow-y: auto; /* Habilita el scroll vertical */
    padding: 0px 0px 20px 0px;
  }

  .titulo {
    display: flex;
    gap: 22px;
    align-items: center;
    justify-content: space-between;
  }

  h2 {
    font-size: 25px;
    color:var(--letra);
    margin: 0px 0px 3px 30px;
  }

  .primer-elemento {
    margin-left: 1%; /* O el margen que necesites */
  }
 
.container {
    display: flex;
    flex-wrap: nowrap; /* 游댠 Evita que los elementos pasen a otra l칤nea */
    overflow-x: auto; /* 游댠 Permite el scroll horizontal */
    white-space: nowrap;
    max-width: 100%; /* 游댠 Se ajusta al ancho del contenedor */
}

.container::-webkit-scrollbar {
    display: none;
}

.artist-card, .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:var(--letra);
    padding: 12px;
    border-radius: 12px;
    border: transparent;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 150px; /* 游댠 Tama침o base */
    height: 100%;
    min-width: 140px; /* 游댠 Evita que desaparezca en pantallas peque침as */
    flex: 0 0 auto; /* 游댠 Permite ajuste flexible */
    max-width: 100%; /* 游댠 Evita que se salga del contenedor */
    position: relative;
    background-color: transparent;
}

.artist-card strong, .card strong {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.artist-card p, .card p {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.artist-card img {
    width: 105px; /* 游댠 Reduce el tama침o para compactar */
    height: 105px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 5px; /* 游댠 Menos espacio debajo de la imagen */
}

.card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.artist-card:hover, .card:hover {
  background: rgb(230, 230, 230);
  transform: scale(1.03); /* 游댠 Efecto m치s sutil */
}

.dentro-card {
  display: flex;
  flex-direction: column; /* Alinea los elementos (imagen y texto) en columna */
  align-items: flex-start; /* Alinea la imagen y el texto horizontalmente */
  justify-content: center; /* Alinea la imagen y el texto verticalmente */
  text-align: center;
  padding: 8px;
  max-width: 100%;
  background-color: transparent;
}

/*VENTANA DE EDITAR EL PERFIL*/
/* Fondo oscuro cuando el modal est치 activo */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Opacidad en el fondo */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Contenedor del modal */
.modal-content {
  background: var(--modal);
  padding: 0px 25px 28px 25px;
  border-radius: 10px;
  text-align: left;
  max-width: 430px;
  box-shadow: 0 4px 10px var(--shadow);
  color: white;
}

/* Botones dentro del modal */
.btn-cerrar {
  background-color: transparent;
  color: var(--letra);
  border: none;
  cursor: pointer;
  width: 5%;
  height: auto;
  padding: 0px;
  margin: 0px;
}

.btn-guardar {
  background-color: #8ca4ff;
  color: #000e3b;
  padding: 7px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  margin-top: 13px;
  width: 70%;
  font-size: 14px;
}

.btn-guardar:hover {
  background-color: #2e4074;
}

input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1.5px solid #a6a6a6;
  background-color: rgb(228, 228, 228);
  color: #000e3b;
  font-size: 11px;
  margin:0px;
}

/* Contenedor de la imagen y el icono */
.image-upload-container {
  position: relative;
  display: inline-block;
  text-align: flex-start;
}

/* Efecto de opacidad cuando el cursor est치 sobre la imagen */
.image-upload-container .logo {
  transition: opacity 0.3s ease;
}

.image-upload-container:hover .logo {
  opacity: 0.5;  /* Efecto de opacidad al pasar el cursor */
}

/* Estilo para el icono de subir foto */
.upload-icon {
  position: absolute;
  top: 33%;
  left: 36%;
  transform: translate(-50%, -50%);
  width: 110px;
  height: 110px;
  padding: 25px;
  color: white;
  font-size: 14px;
  background-color: rgba(61, 59, 59, 0.5);  /* Fondo semitransparente */
  border-radius: 50%;
  cursor: pointer;
  display: none;  /* Ocultamos el icono por defecto */
  text-align: center;
}

.quitarFoto {
  border: none;
  background-color: transparent;
  font-size: 11px;
  color: gray
}

.quitarFoto.desaparecer {
  visibility: hidden;
}

.quitarFoto:hover {
  text-decoration: underline;
}

.image-upload-container:hover .upload-icon {
  display: block;  /* Mostramos el icono al pasar el cursor */
}

.upload-icon i {
  color: white;
}

.password-container {
  position: relative;
  width: 100%;
}
.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #000E3B;
  font-size: 12px;
}

a {
  text-decoration: none; 
  color: inherit; 
  all: unset; 
  display: contents;
}

a:focus,
a:active,
a:hover {
  outline: none; 
  text-decoration: none; 
  color: inherit;
}

  
  @media (max-width: 780px)  {

    .top-div {
        gap: 1%; /* Espacio entre columnas */

    }
  }

  @media (max-width: 480px)  {

    .column1 img {
        height: 100px;
        width: 100px;
    }

    h3 {
        font-size: 18px;
        color: #000e3b;
    }
    
    h4 {
        font-size: 12px;
        color: #000e3b;
        margin: 0px;
    }

    h6 {
        color: #000e3b;
        font-size: 16px;
      }
    
      h1 {
        color: #000e3b;
        font-size: 12px;
        font-weight: normal;
      }

    h5 {
        font-size: 10px;
        color: #000e3b
    }

    .seguidores {
        display: block;
    }
}