<div class="top-div">
    <div class="column2">
      <div class="header-content">
        <h3>Historial de canciones</h3>
      </div>
    </div>
  </div>
  
  <div class="bottom-div">
    <div *ngIf="ultimasCanciones!= null && ultimasCanciones.length > 0">
      <div class="canciones">
        <div *ngFor="let cancion of ultimasCanciones" class="cancioncard" (click)="onTrackClick(cancion)">
          <img 
            class="cancion-img" 
            [src]="cancion.fotoPortada" 
            [alt]="cancion.nombre"
          >
          <div class="cancion-info">
            <strong>{{ cancion.nombre }}</strong>
            <p>{{ cancion.nombreArtisticoArtista }}</p>
          </div>
        </div>
      </div>
    </div>
  
    <div *ngIf="ultimasCanciones.length === 0">
        <p style="margin-left: 3%;color:var(--letra)">No has escuchado ninguna canción.</p>
      </div>
  </div>
  


  
      
  
    
      
  
    