<div class="dentro-sidebar">
    <!-- Sección fija (sin scroll) -->
    <div class="fixed-section">
        <div class="user-me_icon" (click)="navigateToMisNoizzys()">
            <div class="user-me" ><img [src]="foto && foto !== 'DEFAULT' ? foto : 'nouser.png'" ></div>
        </div>
    </div>
    <div class="barra_horizontal"></div>
    <!-- Sección con scroll -->
    <div class="scrollable-section" (scroll)="onScroll($event)">
        <div class="user-icons">
            <div *ngFor="let user of seguidos">
                <a [routerLink]="['/home/noizzys', user.nombreUsuario]"> 
                    <img [src]="user.fotoPerfil && user.fotoPerfil !== 'DEFAULT' ? user.fotoPerfil : 'nouser.png'" [alt]="user.nombreUsuario">
                </a>
            </div>
        </div>
    </div>
</div>
