/* 🔹 Menú superior */
.menu {
    height: 45px; /* Altura fija */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    box-sizing: border-box;
    background: #000E3B;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: white;
    z-index: 1000; 
}

.left-icons, .right-icons {
    display: flex;
    align-items: center;
}

.left-icons {
    gap: 5px;
}

.right-icons {
    gap: 5px;
}

.logo {
    width: 30px;
}

.noizz {
    width: 23px;
}

.home-btn {
    width: 23px;
    padding-right: 35px;
}

.fas.fa-user {
    margin-right: 0px;
}


.buscador {
    width: 100%;
    height: 30px;
    border-radius: 20px;
    padding: 0px 40px 0px 15px;
    font-size: 16px;
    border: 1.5px solid white; /* Borde blanco */
    background-color:#000E3B; /* Azul */
    color: white; /* Texto en blanco */
}

button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: white;
}


.foto {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


.notis-btn a {
    color: inherit !important; 
    text-decoration: none; 
}
  
.notis-btn a i {
color: white !important; 
}
  

@media (max-width: 768px) {
    .logo {
        width: 20px;
    }
    
    .noizz {
        width: 16px;
    }
    
    .home-btn i{
        font-size: 14px;
        margin-bottom: 4px;
    }

    .home-btn {
        margin-bottom: 4px;
    }

    .buscador {
        width: 100%;
        height: 25px;
        font-size: 13px;
    }

    .notis-btn i {
        font-size: 14px;
        margin-bottom: 4px;
    }
    .profile-btn i {
        font-size: 14px;
        margin-bottom: 4px;
    }


}

@media (max-width: 480px) {
   

}





