<div class="menu">
    <div class="left-icons">
        <img src="logo.png" alt="logo" class="logo">
        <button class="home-btn" (click)="goHome()"><i class="fas fa-home"></i></button>
      <div class="search-box">
        <input type="text" [(ngModel)]="searchQuery" (input)="onSearchInputChange()" placeholder="Buscar..." class="buscador">
      </div>
      <button (click)="toggleSidebar()"><img src="noizz.png" alt="noizz" class="noizz"></button>
  </div>
    <div class="right-icons">
      <button class="notis-btn" (click)="verNotificaciones()">
        <a [routerLink]="['/home/notificaciones']">
          <i class="fa fa-bell"></i>
          <span *ngIf="tieneNotificaciones" class="notification-dot"></span>
        </a>
      </button>
      <button (click)="goPerfil()"><img [src]="foto && foto!== 'DEFAULT' ? foto : 'nouser.png'" alt="Foto de perfil" class="foto"></button>
    </div>
</div>

