<div *ngIf="isAuthenticated">

    <div *ngIf="isModalOpen" class="modal-overlay">
        <div class="modal-content">
            <div class="cabecera" style="display: flex;justify-content: space-between;">
                <p style="font-size: 20px; color: #000e3b; margin-top: 23px; font-weight: bold;">Editar Perfil</p>
                <button (click)="cerrarModal()" class="btn-cerrar"><i class="fas fa-times"></i></button>
            </div>
            
            <div class="atributos" style="display: flex;justify-content: space-between;">
                <div class="image-upload-container">
                    <img [src]="fotoNueva && fotoNueva!== 'DEFAULT' ? fotoNueva : 'nouser.png'" alt="Foto de perfil" class="logo" style="border-radius: 50%; width: 110px; height: 110px;">
                    <label for="file-input" class="upload-icon">
                      <i class="fa fa-upload" aria-hidden="true"></i> Subir nueva foto
                    </label>
                    <input id="file-input" type="file" style="display: none;" (change)="onFileSelected($event)">
                </div>
                <div class="textos" style="display: flex; flex-direction: column; width: 60%; justify-content: center; align-items: center;">
                    <input type="text" id="nombre" [(ngModel)]="nombreActual" placeholder="Escribe un nuevo nombre de usuario">
                    <p *ngIf="mensajeError" style="color: red; font-size: 10px; margin: 0px;">{{ mensajeError }}</p>
                    <button class="btn-guardar" (click)="guardarCambios()">Guardar Cambios</button>
                </div>

            </div>
        </div>
    </div>

    <div *ngIf="isModalContrasenaOpen" class="modal-overlay">
        <div class="modal-content">
            <div class="cabecera" style="display: flex;justify-content: space-between;">
                <p style="font-size: 20px; color: #000e3b; margin-top: 23px; font-weight: bold;">Cambiar Contraseña</p>
                <button (click)="cerrarModalContrasena()" class="btn-cerrar"><i class="fas fa-times"></i></button>
            </div>
            
            <div class="atributos" style="display: flex;justify-content: space-between;">
                <div class="textos" style="display: flex; flex-direction: column; width: 100%; justify-content: center; align-items: center; gap: 8px;">
                    <div class="password-container">
                        <input [type]="isPasswordViejaVisible ? 'text' : 'password'" id="contrasena_actual" placeholder="Escribe la contraseña actual">
                        <i [ngClass]="isPasswordViejaVisible ? 'fas fa-eye' : 'fas fa-eye-slash'" (click)="togglePasswordVieja()" class="toggle-password"></i>
                    </div>
                    <div class="password-container">
                        <input [type]="isPasswordNuevaVisible ? 'text' : 'password'" id="contrasena_nueva" placeholder="Escribe la contraseña nueva">
                        <i [ngClass]="isPasswordNuevaVisible ? 'fas fa-eye' : 'fas fa-eye-slash'" (click)="togglePasswordNueva()" class="toggle-password"></i>
                    </div>
                    <p *ngIf="mensajeError" style="color: red; font-size: 10px; margin: 0px;">{{ mensajeError }}</p>
                    <button class="btn-guardar" styles="margin-top: 0px;" (click)="guardarCambiosContrasena()">Guardar Cambios</button>
                </div>

            </div>
        </div>
    </div>

    <div *ngIf="isModalEliminarOpen" class="modal-overlay">
        <div class="modal-content">
            <div class="cabecera" style="display: flex;justify-content: space-between;">
                <p style="font-size: 20px; color: #000e3b; margin-top: 23px; font-weight: bold;">Eliminar Cuenta</p>
                <button (click)="cerrarModalEliminar()" class="btn-cerrar"><i class="fas fa-times"></i></button>
            </div>
            
            <div class="atributos" style="display: flex;justify-content: space-between;">
                <div class="textos" style="display: flex; flex-direction: column; width: 100%; justify-content: center; align-items: center; gap: 8px;">
                    <input type="text" id="contrasena_eliminar" placeholder="Escribe la contraseña actual">
                    <p *ngIf="mensajeError" style="color: red; font-size: 10px; margin: 0px;">{{ mensajeError }}</p>
                    <button class="btn-guardar" styles="margin-top: 0px;" (click)="eliminarCuenta()">Eliminar</button>
                </div>

            </div>
        </div>
    </div>

    <div *ngIf="isModalPlaylistOpen" class="modal-overlay">
        <div class="modal-content">
          <div class="cabecera" style="display: flex;justify-content: space-between;">
            <p style="font-size: 20px; color: #000e3b; margin-top: 23px; font-weight: bold;">Crear playlist</p>
            <button (click)="cerrarModalPlaylist()" class="btn-cerrar">
              <i class="fas fa-times"></i>
            </button>
          </div>
      
          <div class="atributos" style="display: flex;justify-content: space-between;">
            <div class="image-upload-container">
                <!-- Mostrar la imagen seleccionada o la imagen por defecto -->
                <img [src]="fotoPortada || 'no_cancion.png'" 
                     alt="Foto de playlist" 
                     class="logo" 
                     style="border-radius: 5%; width: 120px; height: 120px;">
              
                <label for="file-input" class="upload-icon-playlist">
                  <i class="fa fa-upload" aria-hidden="true"></i> Subir una foto
                </label>
                
                <input id="file-input" type="file" style="display: none;" (change)="onFileSelectedPlaylist($event)">
              </div>
              
      
            <div class="textos" style="display: flex; flex-direction: column; width: 60%; justify-content: center; align-items: center; gap: 5px;">
              <input type="text" id="nombre" [(ngModel)]="nombrePlaylist" placeholder="Escribe el nombre de la playlist">
              <button class="btn-guardar" (click)="guardarCambiosPlaylist()">Guardar Cambios</button>
            </div>
          </div>
        </div>
      </div>
      

    <!-- Primer div: fijo en la parte superior -->
    <div class="top-div">
        <div class="column1">
            <img [src]="foto && foto!== 'DEFAULT' ? foto : 'nouser.png'" alt="Foto de perfil" class="logo">
        </div>

        <div class="column2">   
            
                <h3>{{ oyente.nombre }}</h3>
                <div class="seguidores">
                    <a [routerLink]="['/home/seguidores',oyente.nombre]">
                        <h4>{{ oyente.nSeguidores }}{{ oyente.nSeguidores === 1 ? ' Seguidor' : ' Seguidores' }}</h4>
                    </a>
                    <a [routerLink]="['/home/seguidos',oyente.nombre]">
                        <h4>{{ oyente.nSeguidos }}{{ oyente.nSeguidos === 1 ? ' Seguido' : ' Seguidos' }}</h4>
                    </a>
                </div>
            
        </div>
        <div class="column3" >
            <button (click)="abrirModal()" class="botones_opciones" style="margin-top: 10px;">
                <h5>Editar perfil</h5>
            </button>
            <button (click)="abrirModalContrasena()" class="botones_opciones">
                <h5>Cambiar contraseña</h5>
            </button>
            <button class="boton-crear" style="border: none;" (click)="cerrarSesion()">
                <p style="margin:0px;">Cerrar Sesión</p>
            </button>
            <button class="boton-crear" style="border: none;" (click)="abrirModalEliminar()">
                <p style="margin:0px;">Eliminar Cuenta</p>
            </button>
        </div>
    </div>


    <button class="boton-playlist"  (click)="abrirModalPlaylist()">
        <h4>Crear Playlist</h4>
    </button>

     <!--TOP ARTISTAS-->
    <div class="bottom-div">
        <div *ngIf="ultimosArtistas.length > 0">
            <div class="titulo">
                <h2 style="margin-bottom: 10px; margin-top: 20px;"><strong>Top artistas recientes</strong></h2>
                <a [routerLink]="['/topArtistas']">
                    <h4 style="margin-top: 18px; font-size: 13px; margin-right: 15px;">Mostrar todos</h4>
                </a>
            </div>
            
            <div class="container">       
                <div *ngFor="let artist of ultimosArtistas; let i = index" class="artist-card" [ngClass]="{ 'primer-elemento': i === 0 }">          
                    <img [src]="artist.fotoPerfil && artist.fotoPerfil !== 'DEFAULT' ? artist.fotoPerfil  : 'nouser.png'" [alt]="artist.nombreArtistico">
                    <strong>{{ artist.nombreArtistico }}</strong>
                </div>
            </div>
        </div>

        <!--ULTIMAS 5O ESCUCHADAS-->
        <div *ngIf="ultimasCanciones.length > 0">
            <div class="titulo">
                <h2 style="margin-bottom: 10px; margin-top: 20px;"><strong>Historial de canciones</strong></h2>
                <a [routerLink]="['/historialCanciones']">
                    <h4 style="margin-top: 18px; font-size: 13px; margin-right: 15px;">Mostrar todas</h4>
                </a>
            </div>

            <div class="container">       
                <div *ngFor="let cancion of ultimasCanciones; let i = index" class="card" (click)="onTrackClick(cancion)" [ngClass]="{ 'primer-elemento': i === 0 }">
                    <div class="dentro-card">
                        <img [src]="cancion.fotoPortada" [alt]="cancion.nombre"> 
                        <strong>{{ cancion.nombre }}</strong>
                        <p>{{ cancion.nombreArtisticoArtista }}</p> 
                    </div>          
                </div>
            </div>
        </div>

        <!--MIS PLAYLISTS-->
        <div *ngIf="misPlaylists.length > 0">
            <div class="titulo">
                <h2 style="margin-bottom: 10px; margin-top: 20px;"><strong>Mis playlists</strong></h2>
                <a [routerLink]="['/misPlaylists']">
                    <h4 style="margin-top: 18px; font-size: 13px; margin-right: 15px;">Mostrar todas</h4>
                </a>
            </div>

            <div class="container">       
                <div *ngFor="let playlist of misPlaylists; let i = index" class="card" [ngClass]="{ 'primer-elemento': i === 0 }">
                    <div class="dentro-card"><a [routerLink]="['/home/playlist',playlist.id]"> 
                        <img [src]="playlist.fotoPortada && playlist.fotoPortada !== 'DEFAULT' ? playlist.fotoPortada : 'no_cancion.png'" [alt]="playlist.nombre"> 
                        <strong>{{ playlist.nombre }}</strong>
                        </a>
                    </div>          
                </div>
            </div>
        </div>

        <!--MIS SEGUIDOS-->
        <div *ngIf="seguidos.length > 0">
            <div class="titulo">
                <h2 style="margin-bottom: 10px; margin-top: 20px;"><strong>Mis seguidos</strong></h2>
                <a [routerLink]="['/misSeguidos']">
                    <h4 style="margin-top: 18px; font-size: 13px; margin-right: 15px;">Mostrar todos</h4>
                </a>
            </div>

            <div class="container">       
                <div *ngFor="let seguido of seguidos; let i = index" class="artist-card" [ngClass]="{ 'primer-elemento': i === 0 }">          
                    <img [src]="seguido.fotoPerfil && seguido.fotoPerfil !== 'DEFAULT' ? seguido.fotoPerfil  : 'nouser.png'" [alt]="seguido.nombre">
                    <strong>{{ seguido.nombreUsuario }}</strong>
                </div>
            </div>
        </div>
    </div>
</div>

 
  
