<body>
    <div class="contenido">
        <div #topBar class="top-bar">
            <button class="play-btn2">
            </button>
            <p style="margin-top: 8px; font-size: 15px;"><strong>{{artista.nombreArtistico}}</strong></p>
        </div>
        
        <div class="todo"  (scroll)="onScroll($event)">

            <div class="header" #header>
                <div class ="foto">
                    <img #profilePic [src]="artista.foto && artista.foto!== 'DEFAULT' ? artista.foto : 'nouser.png'" alt="Foto de perfil" crossOrigin="anonymous">
                </div>
                <div class = "datos">
                    <div class="stats">
                        <img class="verificado" src="verificado.png" alt="Foto">
                        <h4 style="margin-top: 10px;">Artista verificado</h4>
                    </div>
                    <h1>{{artista.nombreArtistico}}</h1>
                    <p class="bio">{{artista.biografia}}</p>
                    <div class="stats" style="margin: 0px; ">
                        <h5 style="margin: 0px;"> {{artista.nSeguidores}} {{ artista.nSeguidores === 1 ? ' Seguidor' : ' Seguidores' }}</h5>
                        <button class="seguir"  (click)="toggleSeguir()">
                            <h5 style="margin: 0px 10px;"> {{ artista.siguiendo ? 'Siguiendo' : 'Seguir' }} </h5>
                        </button>
                    </div>
                </div>
            </div>
            <div class="botones">
                <button class="btn-noizz" [routerLink]="['/home/noizzys', currentUser]">
                    <h5 style="margin: 0px;"> Ver Más Noizzys</h5>
                </button>                       
            </div>
                
            <div class="popular-songs" #parteAbajo>       
                <h2 style="font-size: 20px;"><strong>Populares</strong></h2>
                <div *ngFor="let song of cancionesPopulares; let i = index">
                    <div class="song" (click)="playSong(song)">
                        <p class="song-index" style="margin-right:12px; margin-top: 12px; opacity: 0.8; width: 10px;"><strong>{{ i + 1 }}</strong></p>
                        <img [src]="song.fotoPortada ? song.fotoPortada : 'no_cancion.png'" alt="{{ song.nombre }}">
                        <div style="display: flex; flex-direction: column;">
                            <div class="song-title"><strong>{{song.nombre}}</strong></div>
                            <p *ngIf="song.featuring" style="margin: 0px;"> ft. {{ song.featuring }}</p>
                        </div>
                        
                        <div class="song-plays" style="color:var(--letra);">
                            <p class ="repros" style="margin-bottom: 0px;  white-space: nowrap;">{{song.reproducciones}} {{ song.reproducciones === 1 ? ' Reproducción' : ' Reproducciones' }}</p>
                            <button class="favorite-btn" (click)="toggleFav(song.id);$event.stopPropagation()">
                                <i [ngClass]="song.fav ? 'fas fa-heart' : 'far fa-heart'"></i>
                            </button>            
                            <p class="duracion" style="margin-bottom: 0px; width: 40px; text-align: right;">{{song.duracion}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="meGustan">
                <h2 style="font-size: 20px; margin-top: 15px;"><strong>Canciones que te gustan</strong></h2>
                <div class="seccion1">
                    <a [routerLink]="['/home/cancionesFavs', currentUser]" [queryParams]="{ nombreArtistico: artista.nombreArtistico }">
                        <div class="fotosJuntas">
                            <button style = "border: none; background-color: transparent; padding:0px; margin:0;"><img class="foto2" [src]="artista.foto && artista.foto!== 'DEFAULT' ? artista.foto : 'nouser.png'" alt="Foto de perfil"> </button>
                            <img class="foto3" style="height: 20px; width: 20px; margin-left: -15px; margin-top:67px; z-index: 1000;" src="corazon.png" alt="Foto corazon">              
                        </div>
                    </a>
                    <div class="numMegustas" tyle="margin-bottom: 0px; ">
                        <p style="font-size: 14px; margin-bottom: 1px;"><strong>Te {{ numeroFavs === 1 ? ' gusta' : ' gustan' }} {{numeroFavs}} {{ numeroFavs === 1 ? ' canción' : ' canciones' }}</strong></p>
                        <p style=" font-size: 12px; margin-bottom: 0px; color: rgb(88, 88, 88);"> De {{artista.nombreArtistico}}</p> 
                    </div>
                </div>
            </div>
            <div class="discografia">
                <h2 style="font-size: 20px; margin-top: 20px; margin-left: 50px;"><strong>Discografía</strong></h2>
                <div class="opciones">
                    <div class="botones-izquierda">
                        <button class="boton-filtro" (click)="cambiarFiltro('canciones')" [ngClass]="{ 'activo': filtroActivo === 'canciones' }">
                            <h3>Canciones</h3>
                        </button>
                        <button class="boton-filtro" (click)="cambiarFiltro('discos')" [ngClass]="{ 'activo': filtroActivo === 'discos' }">
                            <h3>Discos y EPs</h3>
                        </button>
                    </div>
                    <button class="linkMostrarMas" (click)="filtroActivo === 'canciones' ? mostrarMasCanciones() : mostrarMasDiscos()">
                        <h3>Mostrar todos</h3>
                    </button>
                </div>
                <div *ngIf="filtroActivo === 'canciones'">
                    <div *ngIf="canciones.length > 0">
                        <div class="tracks-container">       
                            <div *ngFor="let song of canciones; let i = index" class="track-card" [ngClass]="{ 'primer-elemento': i === 0 }" (click)="playSong(song)">
                                <div class="dentro-track-card">
                                    <img [src]="song.fotoPortada ? song.fotoPortada : 'no_cancion.png'" alt="{{ song.nombre}}">
                                    <strong>{{ song.nombre }}</strong>
                                    <p>{{artista.nombreArtistico}}</p> 
                                </div>          
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="filtroActivo === 'discos'">
                    <div *ngIf="canciones.length > 0">
                        <div class="tracks-container">       
                            <div *ngFor="let album of albumes; let i = index" class="track-card" [ngClass]="{ 'primer-elemento': i === 0 }">
                                <div class="dentro-track-card">
                                    <a [routerLink]="['/home/album', album.id]"> 
                                        <img [src]="album.fotoPortada ? album.fotoPortada : 'no_cancion.png'" alt="{{ album.nombre}}">
                                        <strong>{{ album.nombre }}</strong>
                                        <p>{{ artista.nombreArtistico}}</p> 
                                    </a>
                                </div>          
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>