body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: #dddcdc;
}
.todo {
    width: 100%;
    height: 100vh;/* Altura fija para permitir el scroll interno */
    overflow-y: auto; /* Habilita el scroll vertical */
    position: relative;
}
.todo::-webkit-scrollbar {
    display: none;
}
.top-bar {
    display: none;
    height: 55px;
    position: sticky;
    gap: 3px;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    z-index: 1000;
}
.play-btn2 {
    font-size: 25px;
    color: white;
    background-color: transparent; 
    border-radius: 50%; /* Hace el bot칩n circular */
    cursor: pointer;
    border: none; /* Eliminar el borde */
    outline: none; /* Eliminar el c칤rculo de enfoque (outline) */
}
  
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
}
h5 {
    font-size: 16px;
    margin-right: 5px; 
    margin-left: 7px; 
    font-weight: 520;
}
.header {
    height: auto;
    background-color: #e9e6e6; /* Fondo de ejemplo */
    top: 0;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 4fr; /* Divide en 3 columnas de igual tama침o */
    flex-wrap: wrap; /* Permite que el contenido fluya a la siguiente l칤nea */
    text-align: flex-start; /* Centra el texto */
    word-break: break-word;
    padding: 5px;
}
.header h1 {
    font-size: 80px;
    margin-bottom: 0px;
}
.foto {
    display: flex;
    align-items: center;
    justify-items: center;
    height: auto;
}
.foto img {
    height: 200px;
    border-radius: 50%;
    margin: 20px 15px 20px 20px;
}
.datos {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Centra los elementos horizontalmente */
    justify-content: center;
    flex-wrap: wrap;
    text-align: left; /* Alinea el texto a la izquierda */
    word-break: break-word;
}
.stats {
    display: flex;
    font-size: 16px;
    align-items: center;
}
.verificado {
    height:22px;
    margin-right: 3px;
}
h4 {
    font-size: 14px;
    margin-top: 3px;
}

.seguir {
    margin-left: 20px;
    padding: 3px;
    height: auto;
    width: auto;
    border-radius: 20px;
    background-color: #000e3b;
    border: 2px solid #000e3b;
    color: white;
    text-align: center;
}

.seguir:hover {
    border: 1.5px solid #ffffffe0;
}

.botones {
    padding: 10px 0px 10px 30px;
    margin-left: 15px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-items: center;
    width: auto;
    height: 100px;
}

.play-btn {
    font-size: 55px;
    color: #000e3b;
    background-color: transparent; 
    border-radius: 50%; /* Hace el bot칩n circular */
    cursor: pointer;
    border: none; /* Eliminar el borde */
    outline: none; /* Eliminar el c칤rculo de enfoque (outline) */
}

.shuffle-btn {
    font-size: 35px;
    color: #000e3b;
    background-color: transparent; 
    margin-top: 12px;
    cursor: pointer;
    border: none; 
    outline: none;
}
.btn-noizz {
    height: 30px;
    width: 130px;
    margin-left: 4px;
    border-radius: 20px;
    background-color: #000e3b;
    border: 1.5px solid #000e3b;
    color: white;
    text-align: center;
}

.btn-noizz:hover {
    border: 1.5px solid #ffffffe0;
}
.popular-songs {
    color: #000e3b;
    padding: 0px 50px 12px 50px;
    width: 67%;
}
.song {
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: space-between;
    border-radius: 10px;
    padding: 0px 15px;
    font-size: 13px;
    transition: transform 0.2s ease-in-out, background-color 0.3s ease-in-out; 
}
.song:hover {
    background-color: white; /* Cambia el color de fondo a blanco */
    transform: scale(1.01); /* Aumenta ligeramente el tama침o de la canci칩n */
}
.song img {
    width: 44px;
    height: 44px;
    border-radius: 5px;
    margin-right: 15px;
}
.song-title {
    flex-grow: 1;
    white-space: nowrap; /* Evita que el t칤tulo se rompa en varias l칤neas */
    overflow: hidden; /* Oculta cualquier contenido que no quepa */
    text-overflow: ellipsis; 
}
.song-plays {
    display: flex;
    gap: 20px;
    text-align: center;
    align-items: center;
    margin-left: auto;
}

.favorite-btn {
    background: none;
    border: none;
    color:rgb(76, 75, 75); /* Color del coraz칩n */
    font-size: 20px;
    cursor: pointer;
    padding: 15px;
    transition: all 0.3s ease;
}

.favorite-btn:hover {
    opacity: 0.9;
}

.favorite-btn i {
    transition: color 0.2s ease;
}

.favorite-btn .fas {
    color:rgb(76, 75, 75); /* Coraz칩n relleno */
}

.favorite-btn .far {
    color:rgb(76, 75, 75); /* Coraz칩n vac칤o */
}

.meGustan {
    color: #000e3b;
    padding: 0px 50px 10px 50px;
}
.seccion1 {
    display: flex;

}
.fotosJuntas {
    display: flex;
}
.seccion1 img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 15px;
}
.numMegustas {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
}
.discografia {
    color: #000e3b;
    padding: 0px 0px 10px 0px;
}
.opciones {
    display: flex;
    gap:13px;
    padding: 5px 50px;
}
.boton-filtro {
    padding: 1px 8px;
    height: 25px;
    border-radius: 15px;
    border: 1.7px solid #000e3b;
}
.boton-filtro.activo {
    background-color: #000e3b;

}

.boton-filtro.activo h3 {
    color:white;
}

.boton-filtro:hover {
    background-color: #afb6d0;
}

.boton-filtro.activo:hover {
    background-color: #000e3b;
}
h3 {
    font-size: 12px;
    color: #000e3b;
    margin: 0px;
}
.primer-elemento {
    margin-left: 30px; /* O el margen que necesites */
}

.tracks-container {
    display: flex;
    flex-wrap: nowrap; /* 游댠 Evita que los elementos pasen a otra l칤nea */
    overflow-x: auto; /* 游댠 Permite el scroll horizontal */
    white-space: nowrap;
    max-width: 100%; /* 游댠 Se ajusta al ancho del contenedor */

}

.tracks-container::-webkit-scrollbar {
    display: none;
}

.track-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#000e3b ;
    padding: 12px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 150px; /* 游댠 Tama침o base */
    height: 100%;
    min-width: 140px; /* 游댠 Evita que desaparezca en pantallas peque침as */
    flex: 0 0 auto; /* 游댠 Permite ajuste flexible */
    max-width: 100%; /* 游댠 Evita que se salga del contenedor */
    position: relative;

    
}

.track-card strong {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.track-card p {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}
.track-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}
.dentro-track-card {
    display: flex;
    flex-direction: column; /* Alinea los elementos (imagen y texto) en columna */
    align-items: flex-start; /* Alinea la imagen y el texto horizontalmente */
    justify-content: center; /* Alinea la imagen y el texto verticalmente */
    text-align: center;
    padding: 8px;
    max-width: 100%;
}

.dentro-track-card a {
    text-align: left;
    text-decoration: none; 
    color: inherit; 
    display: inline-block; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; 
}


@media (max-width: 650px) {

    .header h1 {
        font-size: 40px;
    }
    h4 {
        font-size: 10px;
      }
    h5 {
      font-size: 13px;
    }
    .verificado {
        height:15px;
    }
    .foto img {
      height: 110px;
      width: 110px;

    }
  }


 @media (max-width: 450px) {

    .header h1 {
        font-size: 20px;
    }
    h4 {
        font-size: 8px;
      }
    h5 {
      font-size: 8px;
    }
    .verificado {
        height:12px;
    }
  }
  

