.top-div {
    min-height: 5vh;
    background-color: var(--fondo);
    position: sticky;
    top: 0;
    z-index: 1;
    display: grid;
    padding: 2% 1.5% 1% 3%;
    font-family: 'Poppins', sans-serif;
    color: var(--letra);
  }
  
  .header-content {
    display: flex;
    align-items: center;
    padding-left: 0;
  }
  
  h3 {
    font-weight: bold;
  }
  
  .bottom-div {
    padding: 0 0 20px 0;
  }
  
  .artistas {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
    margin: 0 auto;
    width: 95%;
    box-sizing: border-box;
    padding: 0 35px;
  }
  
  .artistacard {
    color: var(--letra);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 20px;
    border-radius: 12px;
    width: 150px;
    min-width: 140px;
    transition: background-color 0.3s ease;
  }
  
  .artistacard:hover {
    background-color: var(--hover);
  }
  
  .artista-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 10px 0;
    object-fit: cover;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    display: contents;
  }
  
  a:focus,
  a:active,
  a:hover {
    outline: none;
    text-decoration: none;
    color: inherit;
  }
  