.Noizzys-container {
  padding: 20px;
  background-color: none;
  border-radius: 8px;
}

.noizzy-card {
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: var(--dropdown);;
}


.noizzito-card {
  padding: 15px;
  margin-bottom: 15px;
  background-color: var(--dropdown);;
  border-bottom: 1px solid  #D2D1D1;;
}

.noizzy-header, .noizzito-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-weight: bold;
  font-size: 16px;
  color: var(--letra);
}

.noizzy-content, .noizzito-content {
  font-size: 14px;
  color: var(--letra3);
  margin-top: 18px;
  margin-bottom: -2px;
  overflow: hidden;
}

.noizzy-footer, .noizzito-footer {
  display: flex;
  gap: 10px;
}

.btn-comment, .btn-like {
  display: block; 
  padding: 5px 10px; 
  background-color: var(--background-color); 
  color: var(--letra); 
  border: none; 
  border-radius: 20px; 
  cursor: pointer;
}

.btn-comment:hover, .btn-like:hover {
  background-color: var(--hover);
}

h3 {
  font-size: 16px; 
  font-weight: bold; 
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff; 
  border-radius: 8px;
  padding-bottom: 20px;
  padding-top: 0px;
  padding-left: 20px; 
  padding-right: 20px; 
  width: 400px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px; 
  min-height: 40px; 
}

.cabecera p {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.btn-cerrar {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: red;
}

.atributos {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  resize: none;
}

.btn-guardar1 {
  cursor: pointer;
  display: block; 
  padding: 10px 20px; 
  background-color: #8CA4FF; 
  color: black; 
  border: none; 
  border-radius: 20px; 
}

.btn-guardar2 {
  display: block; 
  padding: 10px 20px; 
  background-color: #8CA4FF; 
  color: black; 
  border: none; 
  border-radius: 20px; 
  cursor: pointer;
  margin: 0 auto;
}

.btn-guardar1:hover {
  background-color: #5f7ce7;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.btn-guardar2:hover {
  background-color: #5f7ce7;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.campo-buscador {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.campo-buscador input {
  flex: 1; 
  padding: 10px; 
  height: 40px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  font-size: 14px;
}

.campo-buscador .btn-buscar {
  padding: 0 15px;
  height: 40px; 
  background-color: #8CA4FF; 
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
  font-size: 14px; 
}

.campo-buscador .btn-buscar:hover {
  background-color: #5f7ce7;
  transform: translateY(-2px); 
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
}

.resultados-busqueda {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 200px;
  overflow-y: auto;
}

.resultado-item {
  display: flex; 
  align-items: center; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
  text-align: left;
  gap: 10px; 
}

.resultado-item:hover {
  background-color: #e0e0e0;
}

.btn-eliminar {
  display: block;
  padding: 10px 20px;
  background-color: #ff4d4d; 
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
}

.btn-eliminar:hover {
  background-color: #e63939; 
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.resultado-imagen {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  object-fit: cover;
}

.resultado-texto {
  font-size: 14px;
  color: #333;
  margin-top: 15px; 
}

.btn-erase {
  margin-left: auto; 
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.far.fa-trash-alt{
  color:var(--letra);
}

.fas.fa-trash{
  color:var(--letra);
}

.cancion-info {
  display: inline-flex; 
  align-items: center;
  gap: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  background-color: var(--background-color);
  border-radius: 8px;
  height: 60px;
  width: 400px;
  border: 1.2px solid #D2D1D1;
  box-sizing: border-box;
  overflow: hidden;
  max-width: 100%;
}

.cancion-info:hover {
  background-color: var(--hover);
  transform: scale(1.02); 
  cursor: pointer;
}

.cancion-imagen {
  height: 100%; 
  aspect-ratio: 1 / 1;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  object-fit: cover;
}

.cancion-detalle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.cancion-nombre,.cancion-artista{
  font-size: 14px;
  color: var(--letra3);
  margin: 0;
  white-space: nowrap; 
  overflow: hidden;    
  text-overflow: ellipsis; 
  flex: 1;
}

.cancion-nombre {
  font-weight: bold;
}

h3{
  color: var(--letra);
}

