<div class="Noizzys-container">
    <!-- Noizzy principal -->
    <div class="noizzy-card">
      <div class="noizzy-header">
        <img [src]="noizzy.fotoPerfil && noizzy.fotoPerfil !== 'DEFAULT' ? noizzy.fotoPerfil : 'nouser.png'" alt="Avatar" class="avatar" [routerLink]="['/home/perfil', noizzy.nombreUsuario]"/>
        <span class="username" [routerLink]="['/home/perfil', noizzy.nombreUsuario]">{{ noizzy.nombreUsuario }}</span>
        <button *ngIf="noizzy.mio" class="btn-erase" (click)="eraseNoizzy(noizzyID,true); $event.stopPropagation()">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
      <div class="noizzy-content">
        <p>{{ noizzy.texto }}</p>
        <div *ngIf="noizzy.cancion" class="cancion-info" (click)="playSong(noizzy.cancion); $event.stopPropagation()">
          <img [src]="noizzy.cancion.fotoPortada || 'default-image.png'" alt="{{ noizzy.cancion.nombre }}" class="cancion-imagen" />
          <div class="cancion-detalle">
            <p class="cancion-nombre">{{ noizzy.cancion.nombre}}</p>
            <p class="cancion-artista">{{ noizzy.cancion.nombreArtisticoArtista }}</p>
          </div>
        </div>
      </div>
      <div class="noizzy-footer">
        <button class="btn-like" (click)="darLike(noizzy.like, noizzyID); $event.stopPropagation()"><i [ngClass]="noizzy.like ? 'fas fa-thumbs-up' : 'far fa-thumbs-up'"></i> {{ noizzy.num_likes }}</button>
        <button class="btn-comment" (click)="abrirModalNoizzito(noizzyID); $event.stopPropagation()"><i class="far fa-comment-dots"></i> {{ noizzy.num_comentarios }}</button>
      </div>
      <!-- Título de comentarios -->
      <div *ngIf="noizzitos.length > 0">
        <h3>Comentarios</h3>
    
        <!-- Lista de Noizzitos -->
        <div *ngFor="let noizzito of noizzitos">
          <div class="noizzito-card" [routerLink]="['/home/noizzitos', noizzito.id]">
              <div class="noizzito-header">
                  <img [src]="noizzito.fotoPerfil && noizzito.fotoPerfil !== 'DEFAULT' ? noizzito.fotoPerfil : 'nouser.png'" alt="Avatar" class="avatar"  [routerLink]="['/home/perfil', noizzito.nombreUsuario]"/>
                  <span class="username"  [routerLink]="['/home/perfil', noizzito.nombreUsuario]">{{ noizzito.nombreUsuario }}</span>
                  <button *ngIf="noizzito.mio" class="btn-erase" (click)="eraseNoizzy(noizzito.id,false); $event.stopPropagation()">
                    <i class="far fa-trash-alt"></i>
                  </button>
              </div>
              <div class="noizzito-content">
                  <p>{{ noizzito.texto }}</p>
                  <div *ngIf="noizzito.cancion" class="cancion-info" (click)="playSong(noizzito.cancion); $event.stopPropagation()">
                    <img [src]="noizzito.cancion.fotoPortada || 'default-image.png'" alt="{{ noizzito.cancion.nombre }}" class="cancion-imagen" />
                    <div class="cancion-detalle">
                      <p class="cancion-nombre">{{ noizzito.cancion.nombre}}</p>
                      <p class="cancion-artista">{{ noizzito.cancion.nombreArtisticoArtista }}</p>
                    </div>
                  </div>
              </div>
              <div class="noizzito-footer">
                <button class="btn-like" (click)="darLike(noizzito.like, noizzito.id); $event.stopPropagation()"><i [ngClass]="noizzito.like ? 'fas fa-thumbs-up' : 'far fa-thumbs-up'"></i> {{ noizzito.num_likes }}</button>
                <button class="btn-comment" (click)="abrirModalNoizzito(noizzito.id); $event.stopPropagation()"><i class="far fa-comments"></i> {{ noizzito.num_comentarios }}</button>
              </div>
          </div>
        </div>
    </div>
  </div>
    <!-- aqui empieza el segundo popup con el prmero de Noizzito" -->
  <div *ngIf="isModalNoizzitoOpen" class="modal-overlay">
    <div class="modal-content">
      <div class="cabecera">
        <p style="font-size: 20px; color: var(--letra); margin-top: 23px; font-weight: bold;">Publicar Noizzito</p>
        <button (click)="cerrarModalNoizzito()" class="btn-cerrar"><i class="fas fa-times"></i></button>
      </div>
  
      <div class="atributos" style="display: flex; flex-direction: column; gap: 15px;">
        <div class="campo">
          <textarea
            id="textoNoizzito"
            [value]="textoPostNoizzito"
            (input)="onTextoNoizzitoInput($event)"
            placeholder="Escribe tu Noizzito aquí..."
            rows="4"
          ></textarea>
        </div>
        <!-- Toggle que se muestra al seleccionar una canción -->
        <div *ngIf="cancionSeleccionada" class="toggle-seleccion">
          <p><strong>Canción seleccionada:</strong> {{ cancionSeleccionada.nombre }} - {{ cancionSeleccionada.nombreArtisticoArtista }}</p>
        </div>
        <!-- Botón dinámico -->
        <button 
        *ngIf="!cancionSeleccionada; else eliminarBoton" 
        (click)="abrirModalCancion()" 
        class="btn-guardar1">
        Añadir Canción
      </button>
      <ng-template #eliminarBoton>
        <button 
          (click)="eliminarCancionSeleccionada()" 
          class="btn-eliminar">
          Eliminar Canción
        </button>
      </ng-template>
        <div style="display: flex; justify-content: space-between;">
          <button (click)="publicarNoizzito()" class="btn-guardar2">Publicar</button>
        </div>
      </div>
    </div>
    <!-- Segundo popup para "Añadir Canción" -->
    <div *ngIf="isModalCancionOpen" class="modal-overlay">
      <div class="modal-content">
        <div class="cabecera">
          <p style="font-size: 20px; color: var(--letra); margin-top: 23px; font-weight: bold;">Buscar Canción</p>
          <button (click)="cerrarModalCancion()" class="btn-cerrar"><i class="fas fa-times"></i></button>
        </div>
    
        <div class="atributos" style="display: flex; flex-direction: column; gap: 15px;">
          <div class="campo-buscador">
            <input
              type="text"
              (input)="onBusquedaCancionInput($event)"
              placeholder="Introduce el nombre de la canción"
            />
          </div>
    
          
    
          <div *ngIf="resultadosBusqueda.length > 0" class="resultados-busqueda">
            <div *ngFor="let cancion of resultadosBusqueda" (click)="seleccionarCancion(cancion)" class="resultado-item">
              <img [src]="cancion.fotoPortada || 'default-image.png'" alt="{{ cancion.nombre }}" class="resultado-imagen" />
              <div class=resultado-texto>
                <p>{{ cancion.nombre }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>   
</div>